
<app-header></app-header>
<div class="clearfix"> </div>
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
            <app-sidebar></app-sidebar>
        </div>

        <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                        <app-breadcrumbs></app-breadcrumbs>
                        <h3 class="page-title"> User Profile 2
                                <small>user profile sample</small>
                            </h3>


                        

                    </div>
                    </div>
                     <a href="javascript:;" class="page-quick-sidebar-toggler">
                            <i class="icon-login"></i>
                        </a>
                    </div>
 <app-footer></app-footer>      