<app-header></app-header>
<div class="clearfix"> </div>
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<app-sidebar></app-sidebar>
	</div>

	<div class="page-content-wrapper">
		<!-- BEGIN CONTENT BODY -->
		<div class="page-content">
			<app-breadcrumbs title="{{simtype}}"></app-breadcrumbs>
			<h3 *ngIf="type == 'pk_study'">PK Study</h3>
			<h3 *ngIf="type == 'vbe_study'">VBE Study</h3>

			<div class="row" *ngIf="disableSelection">
				<div class="col-sm-12">
					<div class="portlet light portlet-fit bordered">

						<div class="portlet-body">
							<p class="text-center">
								<span class="caption-subject font-purple bold uppercase">Sample Inputs</span>
							</p>
							<p></p>
							<p class="caption-subject text-center"> {{simulationData.population.type}}_{{simulations.population_timestamp}} - {{simulationData.drug.name}}_{{simulations.drug_timestamp}}
								- {{simulations.trial_name}}_{{simulations.trial_timestamp}}</p>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="portlet light portlet-fit bordered">
						<div class="portlet-body">
							<div class="mt-element-step">
								<div class="row step-background-thin">
									<div class="col-md-4 bg-grey-steel1 mt-step-col" (click)="firstStep()" [style.background-color]="selectedpkpop ? '#1f858e' : 'grey'"
									 [ngClass]="{'population-active': selectedpkpop }">
										<div class="mt-step-number">1</div>
										<div class="mt-step-title uppercase font-grey-cascade">Population</div>

									</div>
									<div class="col-md-4 bg-grey-steel1 mt-step-col" (click)="secondStep()" [style.background-color]="selectedpkdrug ? '#1f858e' : 'grey'"
									 [ngClass]="{'population-active': selectedpkdrug }">
										<div class="mt-step-number">2</div>
										<div class="mt-step-title uppercase font-grey-cascade">Drug</div>
									</div>
									<div class="col-md-4 bg-grey-steel1 mt-step-col" (click)="thirdStep()" [style.background-color]="selectedpktrial ? '#1f858e' : 'grey'"
									 [ngClass]="{'population-active': selectedpktrial }">
										<div class="mt-step-number">3</div>
										<div class="mt-step-title uppercase font-grey-cascade">Trial Design</div>
									</div>
								</div>
							</div>
							<br />
							<br />
							<!--First Step-->


							<div class="panel-group accordion" id="accordion1" *ngIf="showSelected1">
								<form role="form" name="select_populations">
									<div class="row">
										<div class="form-group col-md-6">
											<label class="col-md-5 control-label">Select Population</label>
											<div class="col-md-7">
												<input *ngIf="id" type="text" name="populationType" [(ngModel)]="simulationData.population.type" class="form-control" readonly
												 required>

												<select *ngIf="!id" class="form-control" [disabled]="disableSelection" [(ngModel)]="select_population" name="select_population"
												 (change)="onPopulationSelect($event.target.value)">
													<option value="">Select Population</option>
													<option *ngFor="let pop of allPopulation" [ngValue]="pop.id">
														{{ pop.populationName }}
													</option>

												</select>
											</div>
										</div>
									</div>
								</form>
								<br/>

								<!-- <form role="form" name="select_population" > -->
								<!-- <form role="form" [formGroup]="form" (click)="onSubmit()" > -->
								<form role="form">
									<div class="panel panel-default">

										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#collapse_1"> Blood Flow </a>
											</h4>
										</div>

										<!-- </form> -->

										<div id="collapse_1" class="panel-collapse in" ng-init="validatepopulation=false">
											<div class="panel-body">

												<div class="row">

													<div class="form-group col-md-6">
														<label class="col-md-5 control-label">QC
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qc}}"></span>
														</label>

														<div class="col-md-7 tool">
															<input type="number" name="qc" [(ngModel)]="subject.blood_flow.qc" class="form-control" placeholder="Enter QC" required>
														</div>
													</div>

													<div class="form-group col-md-6">
														<label class="col-md-5 control-label">QT ADIPOSE
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_adipose}}"></span>
														</label>
														<div class="col-md-7">
															<input type="number" name="qt_adipose" class="form-control" [(ngModel)]="subject.blood_flow.qt_adipose" placeholder="Enter QT ADIPOSE"
															 required>
														</div>
													</div>

												</div>

												<div class="row">

													<div class="form-group col-md-6">
														<label class="col-md-5 control-label">QT BONE
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_bone}}"></span>
														</label>
														<div class="col-md-7">
															<input name="qt_bone" [(ngModel)]="subject.blood_flow.qt_bone" type="number" class="form-control" placeholder="Enter QT BONE"
															 required>
														</div>
													</div>


													<div class="form-group col-md-6">
														<label class="col-md-5 control-label">QT BRAIN
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_brain}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qt_brain" name="qt_brain" type="number" class="form-control" placeholder="Enter QT BRAIN"
															 required>
														</div>
													</div>

												</div>


												<div class="row">
													<div class="col-md-6 form-group ">
														<label class=" col-md-5 control-label ">QT GUT
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_gut}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qt_gut" type="number" class="form-control" name="qt_gut" placeholder="QT GUT" required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="col-md-5 control-label"> QT HEART
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_heart}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qt_heart" name="qt_heart" type="number" class="form-control" placeholder="QT HEART"
															 required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5 "> QT KIDNEY
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_kidney}}"></span>
														</label>
														<div class="col-md-7 ">
															<input [(ngModel)]="subject.blood_flow.qt_kidney" name="qt_kidney" type="number" class="form-control" placeholder="QT KIDNEY"
															 required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">QT LIVER
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_liver}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qt_liver" name="qt_liver" type="number" class="form-control" placeholder="QT LIVER"
															 required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5"> QT LUNG
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_lung}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qt_lung" name="qt_lung" type="number" class="form-control" placeholder="QT LUNG" required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">QT MUSCLE
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_muscle}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qt_muscle" name="qt_muscle" type="number" class="form-control" placeholder="QT MUSCLE"
															 required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5"> QT SKIN
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_skin}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qt_skin" name="qt_skin" type="number" class="form-control" placeholder="QT SKIN" required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5"> QT SPLEEN
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_spleen}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qt_spleen" name="qt_spleen" type="number" class="form-control" placeholder="QT SPLEEN"
															 required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5"> QT ARTERIAL
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_arterial}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qt_arterial" name="qt_arterial" type="number" class="form-control" placeholder="QT ARTERIAL"
															 required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">QT VENOUS
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_venous}}"></span>
														</label>
														<div class="col-md-7">

															<input [(ngModel)]="subject.blood_flow.qt_venous" name="qt_venous" type="number" class="form-control" placeholder="QT VENOUS"
															 required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5"> QT PANCREASE
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_pancreas}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qt_pancreas" name="qt_pancreas" type="number" class="form-control" placeholder="QT PANCREASE"
															 required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5"> QHA
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qha}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qha" name="qha" type="number" class="form-control" placeholder="QHA" required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5"> QPV
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qpv}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.qpv" name="qpv" type="number" class="form-control" placeholder="QPV" required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">GFR
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.gfr}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.blood_flow.gfr" name="gfr" type="number" class="form-control" placeholder="GFR" required>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#collapse_3" aria-expanded="false">
													Tissue Volume </a>
											</h4>
										</div>
										<div id="collapse_3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
											<div class="panel-body">
												<!-- <form role="form"> -->
												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">BW
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.bw}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.tissue_volume.bw" name="bw" type="number" class="form-control" placeholder="BW" required>
														</div>
													</div>

													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT ADIPOSE
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_adipose}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.tissue_volume.vt_adipose" name="vt_adipose" type="number" class="form-control" placeholder="VT ADIPOSE"
															 required>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT BONE
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_bone}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.tissue_volume.vt_bone" name="vt_bone" type="number" class="form-control" placeholder="VT BONE"
															 required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT BRAIN
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_brain}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.tissue_volume.vt_brain" name="vt_brain" type="number" class="form-control" placeholder="VT BRAIN"
															 required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT GUT
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_gut}}"></span>
														</label>
														<div class="col-md-7">

															<input [(ngModel)]="subject.tissue_volume.vt_gut" name="vt_gut" type="number" class="form-control" placeholder="VT GUT" required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5"> VT HEART
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_heart}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.tissue_volume.vt_heart" name="vt_heart" type="number" class="form-control" placeholder="VT HEART"
															 required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT KIDNEY
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_kidney}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.tissue_volume.vt_kidney" name="vt_kidney" type="number" class="form-control" placeholder="VT KIDNEY"
															 required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5"> VT LIVER
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_liver}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.tissue_volume.vt_liver" name="vt_liver" type="number" class="form-control" placeholder="VT LIVER"
															 required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT LUNG
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_lung}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="subject.tissue_volume.vt_lung" name="vt_lung" type="number" class="form-control" placeholder="VT LUNG"
															 required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT MUSCLE
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_muscle}}"></span>
														</label>
														<div class="col-md-7">

															<input [(ngModel)]="subject.tissue_volume.vt_muscle" name="vt_muscle" type="number" class="form-control" placeholder="VT MUSCLE"
															 required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT SKIN
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_skin}}"></span>
														</label>
														<div class="col-md-7">

															<input [(ngModel)]="subject.tissue_volume.vt_skin" name="vt_skin" type="number" class="form-control" placeholder="VT SKIN"
															 required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT SPLEEN
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_spleen}}"></span>
														</label>
														<div class="col-md-7">

															<input [(ngModel)]="subject.tissue_volume.vt_spleen" name="vt_spleen" type="number" class="form-control" placeholder="VT SPLEEN"
															 required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT ARTERIAL
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_arterial}}"></span>
														</label>
														<div class="col-md-7">

															<input [(ngModel)]="subject.tissue_volume.vt_arterial" name="vt_arterial" type="number" class="form-control" placeholder="VT ARTERIAL"
															 required>
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT VENOUS
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_venous}}"></span>
														</label>
														<div class="col-md-7">

															<input [(ngModel)]="subject.tissue_volume.vt_venous" name="vt_venous" type="number" class="form-control" placeholder="VT VENOUS"
															 required>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-5">VT PANCREASE
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_pancreas}}"></span>
														</label>
														<div class="col-md-7">

															<input [(ngModel)]="subject.tissue_volume.vt_pancreas" name="vt_pancreas" type="number" class="form-control" placeholder="VT PANCREASE"
															 required>
														</div>
													</div>
												</div>





											</div>
										</div>
									</div>
									<br>
									<br>


									<div class="form-actions text-center">



									</div>
								</form>
								<div class="form-actions text-center">
									<button class="btn green" [disabled]="!select_population" (click)="updatePopulation()">Update Population</button>
								</div>
							</div>

							<!--Second Step-->

							<!--End second Step-->

							<div class="panel-group accordion" id="accordion2" *ngIf="showSelected2">
								<form role="form" name="select_drug">
									<div class="row">

										<div class="form-group col-md-6">
											<label class="col-md-5 control-label">Select Drug
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.name}}"></span>
											</label>
											<div class="col-md-7">
												<input *ngIf="id" type="text" name="drugType" [(ngModel)]="simulationData.drug.name" class="form-control" readonly required>

												<select *ngIf="!id" class="form-control" [disabled]="disableSelection" [(ngModel)]="select_drug" name="select_drug" (change)="onDrugSelect($event.target.value)">
													<option value="">Select Drug</option>
													<option *ngFor="let drug of allDrug" [ngValue]="drug.id">
														{{ drug.name }}
													</option>
												</select>

											</div>
										</div>
									</div>
								</form>
								<form ng-init="validatedrug=false" #df="ngForm" novalidate>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse_4"> Physchem </a>
											</h4>
										</div>
										<div id="collapse_4" class="panel-collapse in">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-6 form-group">
														<label class="control-label col-md-3">BP
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.physchem.bp}}"></span>
														</label>
														<div class="col-md-7">
															<input [(ngModel)]="drug.physchem.bp" name="bp" type="number" class="form-control" placeholder="bp">
														</div>
													</div>
													<div class="col-md-6 form-group">
														<label class="control-label col-md-3">FU
															<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.physchem.fu}}"></span>
														</label>
														<div class="col-md-7">

															<input [(ngModel)]="drug.physchem.fu" name="fu" type="number" class="form-control" placeholder="FU">
														</div>
													</div>
												</div>

												<div class="form-actions text-center">

												</div>




											</div>
										</div>
									</div>



									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse_5" aria-expanded="false">
													Absorption </a>
											</h4>
										</div>
										<div id="collapse_5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
											<div class="panel-body">

												<div class="row" style="display : none">
													<div class="form-group col-md-6">
														<label class="col-md-3 control-label">Select Group </label>
														<div class="col-md-7">
															<select class="form-control" [(ngModel)]="select_absorption" name="select_absorption">
																<option value="dlm">DLM</option>
																<option value="first_order">FIRST ORDER</option>
																<option value="adam">ADAM</option>
															</select>
														</div>
													</div>
												</div>

												<div *ngIf="select_absorption == 'dlm'">
													<h3 class="form-section">DLM</h3>



													<h3 class="title-sect">Release</h3>
													<div class="text-center" style="margin-bottom:10px;font-size:18px;">
														<span style="color:red">{{dlmDissolutionError}}</span>
													</div>

													<div class="col-sm-12" *ngFor="let item of drug.absorption.dlm.dissolution; let i = index">

														<div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && !release_time.valid}">
															<label class="control-label col-md-5">Release Time
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.dlm.release_time}}"></span>
															</label>
															<div class="col-md-7">
																<input [(ngModel)]="item.release_time" (input)="validateDissolution()" name="release_time{{i}}" type="number" class="form-control"
																 placeholder="release time" #release_time="ngModel" autocomplete="off" required/>
																<div *ngIf="df.submitted && !release_time.valid" class="help-block">Please Enter Release Time</div>
															</div>
														</div>
														<div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && !release_fraction.valid}">
															<label class="control-label col-md-5">Release Fraction
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.dlm.release_fraction}}"></span>
															</label>
															<div class="col-md-7">
																<input [(ngModel)]="item.release_fraction" (input)="validateDissolution()" name="release_fraction{{i}}" type="number" (change)="validate=true"
																 class="form-control" placeholder="release fraction" autocomplete="off" #release_fraction="ngModel" required
																/>
																<div *ngIf="df.submitted && !release_fraction.valid" class="help-block">
																	Please Enter Release Fraction</div>
															</div>
														</div>
														<div class="col-md-4 form-group">
															<i class="fa fa-plus" aria-hidden="true" (click)="addDlmDissolution()"></i>
															<i class="fa fa-minus" aria-hidden="true" *ngIf="i > 0" (click)="removeDlmDissolution(i)"></i>
														</div>
													</div>


													<h3 class="title-sect">Particle</h3>
													<div class="text-center" style="margin-bottom:10px;font-size:18px;">
														<span class="" style="color:red">{{dlmParticleError}}</span>
													</div>
													<div class="col-sm-12" *ngFor="let item of drug.absorption.dlm.particle; let i = index">

														<div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && !particle_radius.valid}">
															<label class="control-label col-md-5">particle radius
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.dlm.particle_radius}}"></span>
															</label>
															<div class="col-md-7">
																<input type="number" (input)="validateParticle()" [(ngModel)]="item.particle_radius" name="particle_radius{{i}}" class="form-control"
																 placeholder="particle radius" autocomplete="off" #particle_radius="ngModel" required />
																<div *ngIf="df.submitted && !particle_radius.valid" class="help-block">Please Enter Particle radius</div>
															</div>
														</div>
														<div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && ! particle_fraction.valid}">
															<label class="control-label col-md-5">particle fraction
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.dlm.particle_fraction}}"></span>
															</label>
															<div class="col-md-7">
																<input [(ngModel)]="item.particle_fraction" (input)="validateParticle()" name="particle_fraction{{i}}" type="number" (change)="validate=true"
																 class="form-control" placeholder="particle fraction" autocomplete="off" #particle_fraction="ngModel" required
																/>
																<div *ngIf="df.submitted && !particle_fraction.valid" class="help-block">Please Enter Particle Fraction</div>
															</div>
														</div>
														<div class="col-md-4 form-group">
															<i class="fa fa-plus" aria-hidden="true" (click)="addParticleDissolution()"></i>
															<i class="fa fa-minus" aria-hidden="true" *ngIf="i > 0" (click)="removeParticleDissolution(i)"></i>
														</div>
													</div>



													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">intrinsic solubility
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.dlm.intrinsic_solubility}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.absorption.dlm.intrinsic_solubility" name="intrinsic_solubility" class="form-control"
																 placeholder="intrinsic solubility">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">diffusion coefficent
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.dlm.diffusion_coefficent}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.absorption.dlm.diffusion_coefficent" name="diffusion_coefficent" class="form-control"
																 placeholder="diffusion coefficent">
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">h eff cutoff
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.dlm.h_eff_cutoff}}"></span>
															</label>
															<div class="col-md-7">
																<input [(ngModel)]="drug.absorption.dlm.h_eff_cutoff" name="h_eff_cutoff" type="number" class="form-control" placeholder="h eff cutoff">
															</div>
														</div>

													</div>
												</div>

												<div *ngIf="select_absorption == 'first_order'">
													<h3 class="form-section">FIRST ORDER</h3>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">fa
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.first_order.fa}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.absorption.first_order.fa" name="fa" class="form-control" placeholder="fa">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">ka
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.first_order.ka}}"></span>
															</label>
															<div class="col-md-7">

																<input [(ngModel)]="drug.absorption.first_order.ka" name="ka" type="number" (change)="validate=true" class="form-control"
																 placeholder="ka">
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">fg
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.first_order.fg}}"></span>
															</label>
															<div class="col-md-7">
																<input [(ngModel)]="drug.absorption.first_order.fg" name="fg" type="number" (change)="validate=true" class="form-control"
																 placeholder="fg">
															</div>
														</div>

													</div>
												</div>

												<div *ngIf="select_absorption == 'adam'">
													<h3 class="form-section">ADAM</h3>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">bioavailability
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.adam.bioavailability}}"></span>
															</label>
															<div class="col-md-7">
																<input [(ngModel)]="drug.absorption.adam.bioavailability" name="ka" type="number" class="form-control" placeholder="bioavailability">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">fa
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.adam.fa}}"></span>
															</label>
															<div class="col-md-7">
																<input [(ngModel)]="drug.absorption.adam.fa" name="fa" type="number" class="form-control" placeholder="fa">
															</div>
														</div>
													</div>

													<div class="row">

														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">ka
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.adam.ka}}"></span>
															</label>
															<div class="col-md-7">
																<input [(ngModel)]="drug.absorption.adam.ka" name="ka" type="number" class="form-control" placeholder="ka">
															</div>
														</div>

														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">Papp caco
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.absorption.adam.papp_caco}}"></span>
															</label>
															<div class="col-md-7">
																<input [(ngModel)]="drug.absorption.adam.papp_caco" name="ka" type="number" class="form-control" placeholder="papp_caco">
															</div>
														</div>

													</div>

													<div class="text-center" style="margin-bottom:10px;font-size:18px;">
														<span class="" style="color:red">{{testCaseError}}</span>
													</div>

													<div class="row" *ngFor="let item of drug.absorption.adam.dissolution; let i = index">
														<div class="col-md-3 form-group">
															<label class="control-label col-md-5">Time</label>
															<div class="col-md-7">
																<input type="number" (input)="validateTestCase()" [(ngModel)]="item.time" name="time{{i}}" class="form-control" placeholder="Time"
																 autocomplete="off" #time="ngModel" required />
															</div>
														</div>
														<div class="col-md-3 form-group">
															<label class="control-label col-md-5">Test</label>
															<div class="col-md-7">
																<input type="number" (input)="validateTestCase()" [(ngModel)]="item.test" name="test{{i}}" class="form-control" placeholder="Test"
																 autocomplete="off" #test="ngModel" required />

															</div>
														</div>
														<div class="col-md-3 form-group">
															<label class="control-label col-md-5">Reference</label>
															<div class="col-md-7">
																<input type="number" (input)="validateTestCase()" [(ngModel)]="item.reference" name="reference{{i}}" class="form-control"
																 placeholder="Reference" autocomplete="off" #reference="ngModel" required />
															</div>
														</div>
														<div class="col-md-3 form-group">
															<i class="fa fa-plus" aria-hidden="true" (click)="addDissolution()"></i>
															<i class="fa fa-minus" aria-hidden="true" *ngIf="i > 0" (click)="removeDissolution(i)"></i>
														</div>
													</div>
												</div>


											</div>
										</div>
									</div>


									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse_6"> Distribution </a>
											</h4>
										</div>
										<div id="collapse_6" class="panel-collapse collapse">
											<div class="panel-body">


												<div class="row" style="display : none">
													<div class="form-group col-md-6">
														<label class="col-md-3 control-label">Select Group</label>
														<div class="col-md-7">
															<select class="form-control" [(ngModel)]="select_distribution" name="select_distribution">
																<option value="mini_pbpk">MINI PBPK</option>
																<option value="full_pbpk">FULL PBPK</option>
																<option value="vbe">VBE</option>
															</select>
														</div>
													</div>
												</div>



												<div *ngIf="select_distribution == 'mini_pbpk'">
													<h3 class="form-section"> MINI PBPK</h3>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">vss
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.mini_pbpk.vss}}"></span>
															</label>
															<div class="col-md-7">
																<input [(ngModel)]="drug.distribution.mini_pbpk.vss" name="vss" type="number" class="form-control" placeholder="vss">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">kp liver
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.mini_pbpk.kp_liver}}"></span>
															</label>
															<div class="col-md-7">
																<input [(ngModel)]="drug.distribution.mini_pbpk.kp_liver" name="kp_liver" type="number" class="form-control" placeholder="kp liver">
															</div>
														</div>
													</div>
												</div>


												<div *ngIf="select_distribution == 'full_pbpk'">
													<h3 class="form-section"> FULL PBPK</h3>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">kpscalar
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.kpscalar}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.full_pbpk.kpscalar" name="kpscalar" class="form-control" placeholder="kpscalar">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp adipose
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_adipose}}"></span>
															</label>
															<div class="col-md-7">

																<input [(ngModel)]="drug.distribution.full_pbpk.pptp_adipose" name="pptp_adipose" type="number" class="form-control" placeholder="pptp adipose">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp bone
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_bone}}"></span>
															</label>
															<div class="col-md-7">

																<input [(ngModel)]="drug.distribution.full_pbpk.pptp_bone" name="pptp_bone" type="number" class="form-control" placeholder="pptp bone">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp brain
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_brain}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_brain" name="pptp_brain" class="form-control" placeholder="pptp brain">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp gut
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_gut}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_gut" name="pptp_gut" class="form-control" placeholder="pptp gut">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp heart
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_heart}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_heart" name="pptp_heart" class="form-control" placeholder="pptp heart">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp kidney
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_kidney}}"></span>
															</label>
															<div class="col-md-7">

																<input type="text" [(ngModel)]="drug.distribution.full_pbpk.pptp_kidney" name="pptp_kidney" class="form-control" placeholder="pptp kidney">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp liver
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_liver}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_liver" name="pptp_liver" class="form-control" placeholder="pptp liver">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp lung
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_lung}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_lung" name="pptp_lung" class="form-control" placeholder="pptp lung">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp muscle
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_muscle}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_muscle" name="pptp_muscle" class="form-control" placeholder="pptp muscle">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp skin
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_skin}}"></span>
															</label>
															<div class="col-md-7">

																<input [(ngModel)]="drug.distribution.full_pbpk.pptp_skin" name="pptp_skin" type="number" class="form-control" placeholder="pptp skin">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp spleen
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_spleen}}"></span>
															</label>
															<div class="col-md-7">

																<input [(ngModel)]="drug.distribution.full_pbpk.pptp_spleen" name="pptp_spleen" type="number" class="form-control" placeholder="pptp spleen">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp arterial
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_arterial}}"></span>
															</label>
															<div class="col-md-7">

																<input [(ngModel)]="drug.distribution.full_pbpk.pptp_arterial" name="pptp_arterial" type="number" class="form-control" placeholder="pptp arterial">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp venous
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_venous}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_venous" name="pptp_venous" class="form-control" placeholder="pptp venous">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pptp pancreas
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.full_pbpk.pptp_pancreas}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_pancreas" name="pptp_spleen" class="form-control" placeholder="pptp pancreas">
															</div>
														</div>
													</div>
												</div>
												<div *ngIf="select_distribution == 'vbe'">
													<h3 class="form-section"> VBE</h3>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">v1
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.vbe.v1}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.vbe.v1" name="v1" class="form-control" placeholder="v1">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">v2
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.vbe.v2}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.vbe.v2" name="v2" class="form-control" placeholder="v2">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">v3
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.distribution.vbe.v3}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.distribution.vbe.v3" name="v3" class="form-control" placeholder="v3">
															</div>
														</div>
													</div>
												</div>


											</div>
										</div>
									</div>


									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse_7"> Metabolism </a>
											</h4>
										</div>
										<div id="collapse_7" class="panel-collapse collapse">
											<div class="panel-body">

												<div *ngIf="select_distribution == 'full_pbpk'">
													<h3 class="form-section"> FULL PBPK</h3>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pclint h m1
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.full_pbpk.pclint_h_m1}}"></span>
															</label>
															<div class="col-md-7">

																<input [(ngModel)]="drug.metabolism.full_pbpk.pclint_h_m1" name="pclint_h_m1" type="number" class="form-control" placeholder="pclint h m1">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pclint h m2
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.full_pbpk.pclint_h_m2}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.metabolism.full_pbpk.pclint_h_m2" name="pclint_h_m2" class="form-control" placeholder="pclint h m2">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">pclre
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.full_pbpk.pclre}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.metabolism.full_pbpk.pclre" name="pclre" class="form-control" placeholder="pclre">
															</div>
														</div>
													</div>
												</div>

												<div *ngIf="select_distribution =='mini_pbpk'">
													<h3 class="form-section"> MINI PBPK</h3>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">clre
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.mini_pbpk.clre}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.metabolism.mini_pbpk.clre" name="clre" class="form-control" placeholder="clre">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">clint h
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.mini_pbpk.clint_h}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.metabolism.mini_pbpk.clint_h" name="clint_h" class="form-control" placeholder="clint h">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">uptake
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.mini_pbpk.uptake}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.metabolism.mini_pbpk.uptake" name="uptake" class="form-control" placeholder="uptake">
															</div>
														</div>
													</div>
												</div>


												<div *ngIf="select_distribution =='vbe'">
													<h3 class="form-section">VBE</h3>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">cl1
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.vbe.cl1}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.metabolism.vbe.cl1" name="cl1" class="form-control" placeholder="cl1">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">cl2
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.vbe.cl2}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.metabolism.vbe.cl2" name="cl2" class="form-control" placeholder="cl2">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">k12
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.vbe.k12}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.metabolism.vbe.k12" name="k12" class="form-control" placeholder="k12">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">k21
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.vbe.k21}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.metabolism.vbe.k21" name="k21" class="form-control" placeholder="k21">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">k13
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.vbe.k13}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.metabolism.vbe.k13" name="k13" class="form-control" placeholder="k13">
															</div>
														</div>
														<div class="col-md-6 form-group">
															<label class="control-label col-md-5">k31
																<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipdrug.metabolism.vbe.k31}}"></span>
															</label>
															<div class="col-md-7">

																<input type="number" [(ngModel)]="drug.metabolism.vbe.k31" name="k31" class="form-control" placeholder="k31">
															</div>
														</div>


													</div>
												</div>

											</div>
										</div>
									</div>
								</form>
								<br>
								<br>
								<div class="form-actions text-center">
									<button (click)="updateDrug()" [disabled]="!select_drug || testValid || dlmParticleTestValid || dlmDiTestValid" class="btn green">Update Drug</button>
								</div>
							</div>


							<!--End second step-->

							<!--Third step-->

							<div class="panel-group accordion" id="accordion3" *ngIf="showSelected3">
								<h2 class="form-section" *ngIf="select_distribution == 'full_pbpk'">FULL PBPK</h2>
								<h2 class="form-section" *ngIf="select_distribution == 'mini_pbpk'">MINI PBPK</h2>
								<h2 class="form-section" *ngIf="select_distribution == 'vbe'">VBE</h2>

								<form role="form" name="select_trial">
									<div class="row">

										<div class="form-group col-md-6">
											<label class="col-md-5 control-label">Select Trial</label>
											<div class="col-md-7">
												<input *ngIf="id" type="text" name="trialType" [(ngModel)]="simulations.trial_name" class="form-control" readonly required>



												<select *ngIf="!id" class="form-control" [disabled]="disableSelection" [(ngModel)]="select_trial" name="select_trial" (change)="onTrailSelect($event.target.value)">
													<option value="">Select Trial Design</option>
													<option *ngFor="let item of allTrial" [ngValue]="item.id">
														{{ item.trialName }}
													</option>
												</select>
											</div>
										</div>
									</div>
								</form>

								<form role="form">
									<h4 class="form-section">SUBJECT</h4>

									<div class="row">

										<div class="col-md-6 form-group">
											<label class="control-label col-md-5">total subject
												<span class="fa fa-info-circle simtooltip" title="{{tooltipTrial.subject.total_subject}}" data-toggle="tooltip"></span>
											</label>
											<div class="col-md-7">

												<input type="number" [(ngModel)]="data.subject.total_subject" name="subject" class="form-control" placeholder="total subject">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 form-group">
											<label class="control-label col-md-5">female
												<span class="fa fa-info-circle simtooltip" title="{{tooltipTrial.subject.female}}" data-toggle="tooltip"></span>
											</label>
											<div class="col-md-7">

												<input type="number" [(ngModel)]="data.subject.female" name="female" class="form-control" placeholder="female">
											</div>
										</div>
										<div class="col-md-6 form-group">
											<label class="control-label col-md-5">age min
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.age_min}}"></span>
											</label>
											<div class="col-md-7">

												<input type="number" [(ngModel)]="data.subject.age_min" name="age_min" class="form-control" placeholder="agemin">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 form-group">
											<label class="control-label col-md-5">age max
												<span class="fa fa-info-circle simtooltip" title="{{tooltipTrial.subject.age_max}}" data-toggle="tooltip"></span>
											</label>
											<div class="col-md-7">

												<input type="number" [(ngModel)]="data.subject.age_max" name="age_max" class="form-control" placeholder="age max">
											</div>
										</div>
										<div class="col-md-6 form-group">
											<label class="control-label col-md-5">weight min
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.weight_min}}"></span>
											</label>
											<div class="col-md-7">

												<input type="number" [(ngModel)]="data.subject.weight_min" name="weight_min" class="form-control" placeholder="weight min">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 form-group">
											<label class="control-label col-md-5">weight max
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.weight_max}}"></span>
											</label>
											<div class="col-md-7">

												<input type="number" [(ngModel)]="data.subject.weight_max" name="weight_max" class="form-control" placeholder="weight max">
											</div>
										</div>
									</div>

									<h3 class="form-section">PLAN</h3>
									<div class="row">

										<div class="form-group col-md-6">
											<label class="col-md-3 control-label">Select Dose</label>
											<div class="col-md-7">
												<!-- <select class="form-control" [(ngModel)]="select_dose" name="select_dose"> -->
												<select class="form-control" [(ngModel)]="data.plan.selectd_dose" name="select_dose">
													<option value="single">Single</option>
													<option value="multiple">Multiple</option>
												</select>
											</div>
										</div>

										<div class="col-md-6 form-group">
											<label class="control-label col-md-5">dose
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.weight_max}}"></span>
											</label>
											<div class="col-md-7">

												<input type="number" [(ngModel)]="data.plan.dose" name="dose" class="form-control" placeholder="dos">
											</div>
										</div>

										<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose!='multiple'">
											<!-- *ngIf="data.plan.selectd_dose=='multiple'" -->
											<label class="control-label col-md-5">Duration
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.weight_max}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.plan.duration" name="duration" class="form-control" placeholder="duration">
											</div>
										</div>


										<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose == 'multiple'">
											<!-- *ngIf="data.plan.selectd_dose=='multiple'" -->
											<label class="control-label col-md-5">total duration
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.total_duration}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.plan.total_duration" name="total_duration" class="form-control" placeholder="total_duration">
											</div>
										</div>


										<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose=='multiple'">
											<label class="control-label col-md-5">phase1 duration
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.phase1_duration}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.plan.phase1_duration" name="phase1_duration" class="form-control" placeholder="phase1 duration"
												 #phase1_duration="ngModel" autocomplete="off" required />
											</div>
										</div>

										<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose=='multiple'">
											<label class="control-label col-md-5">phase2 duration
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.phase2_duration}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.plan.phase2_duration" name="phase2_duration" class="form-control" placeholder="phase2 duration"
												 #phase2_duration="ngModel" autocomplete="off" required />

											</div>
										</div>

										<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose=='multiple'">
											<label class="control-label col-md-5">washout duration
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.washout_duration}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.plan.washout_duration" name="washout_duration" class="form-control" placeholder="washout duration"
												 #washout_duration="ngModel" autocomplete="off" required />

											</div>
										</div>

										<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose=='multiple'">
											<label class="control-label col-md-5">water intake
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.water_intake}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.plan.water_intake" name="water_intake" class="form-control" placeholder="water intake"
												 #water_intake="ngModel" autocomplete="off" required />

											</div>
										</div>

									</div>
									<br>
									<br>

									<div class="form-actions text-center">
										<button type="button" class="btn default">Cancel</button>
										<button (click)="updateTrial()" [disabled]="!select_trial" class="btn green">Update Trial</button>
										<button type="submit" (click)="submitSimulation()" [disabled]="!select_trial||!select_drug||!select_population" class="btn green">Submit</button>
									</div>
								</form>
								<div class="loader" id="loader" style="display:none">Loading</div>
							</div>
							<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

							<!-- End third step -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>