/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: rgb(3, 175, 75);
	color: white;
}
.form-section{
	margin: 30px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7ecf1;
	    font-size: 18px;
}
.mt-element-step .step-background-thin .mt-step-number {
    font-size: 0px;
}
.portlet-fit.bordered input.form-control {
    text-transform: uppercase;
}
.portlet-fit.bordered .control-label{
    text-transform: uppercase;
	    font-size: 14px;
}
.mt-element-step .step-background-thin .mt-step-title {
    text-align: center;
    padding-right: 0px; 
}
.control-label.required:after { 
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top:7px;
}
.bg-grey-steel1{background: #e9edef;}
.font-grey-cascade {
    color: #fff!important;
}
.simtooltip{
	margin-left: 20px;
}
.simtooltip1{
	margin-left: 10px;
}


.population-active {
	position: relative;
}
.population-active:after, .population-active:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.population-active:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #29858e;
    border-width: 15px;
    margin-left: -30px;
}
.margin{
	margin-top: 10px;
}
.table thead tr th {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.table {
    margin-bottom: 20px;
 width:80%;
    margin: 5px auto;
    text-align: center;
}
.width{
 width:80%;
    margin: 0 auto;
    text-align: right;
}