/***
Page Header
***/
.page-header.navbar {
  background-color: #fff;
}
.page-header.navbar {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    border: 0px;
    padding: 0px;
    box-shadow: none;
    height: 46px;
    min-height: 46px;
    filter: none;
    background-image: none;
    /* Fixed header */
    /* Header logo */
    /* Search box */
    /* Menu Toggler */
    /* Top menu */ }
    .page-header.navbar.navbar-fixed-top {
      z-index: 9995; 
	      border-bottom: 1px solid #364150;}
    .page-header.navbar.navbar-static-top {
      z-index: 9995;
    border-bottom: 1px solid #364150;	  }
    .page-header.navbar .page-logo {
      float: left;
      display: block;
      width: 235px;
      height: 46px;
      padding-left: 20px;
      padding-right: 20px; }
      .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
        padding: 0; }
      .page-header.navbar .page-logo > .logo-image,
      .page-header.navbar .page-logo > a {
        display: inline-block;
        float: left; }
      .page-header.navbar .page-logo .logo-default {
        margin: 16px 0 0 0;
			    margin: 7px 0 0 0;
    height: 30px;
		}
      .page-header.navbar .page-logo .logo-mini {
        display: none;
        margin-left: 5px; }
      .page-header.navbar .page-logo .text-logo {
        padding-left: 20px;
        padding-top: 12px; }
    .page-header.navbar .search-form {
      display: inline-block;
      width: 46px;
      position: relative;
      float: left;
      transition: all 0.6s; }
      .page-header.navbar .search-form .input-group .form-control {
        height: 46px;
        border: 0;
        background: transparent !important;
        font-size: 13px;
        padding-left: 0;
        margin-left: 12px;
        text-indent: -150000px; }
        .page-header.navbar .search-form .input-group .form-control:hover {
          cursor: pointer; }
      .page-header.navbar .search-form .input-group .input-group-btn {
        height: 46px; }
        .page-header.navbar .search-form .input-group .input-group-btn .btn.submit {
          margin-left: -24px;
          padding: 0;
          width: 46px;
          background: none;
          margin-top: 4px;
          display: block; }
          .page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
            font-size: 15px; }
      .page-header.navbar .search-form.open {
        transition: all 0.6s;
        width: 300px !important; }
        .page-header.navbar .search-form.open .input-group .form-control {
          text-indent: 0; }
          .page-header.navbar .search-form.open .input-group .form-control:hover {
            cursor: text; }
        .page-header.navbar .search-form.open .input-group .input-group-btn .btn.submit {
          margin-left: 0; }
    .page-header.navbar .menu-toggler {
      display: block;
      cursor: pointer;
      opacity: 0.7;
      filter: alpha(opacity=70);
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center center; }
      .page-header.navbar .menu-toggler:hover {
        filter: alpha(opacity=100);
        opacity: 1; }
      .page-header.navbar .menu-toggler.sidebar-toggler {
        float: right;
        margin: 11px 0 0 0; }
        .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler.sidebar-toggler {
          margin-right: 10.5px; }
      .page-header.navbar .menu-toggler.responsive-toggler {
        display: none;
        float: right;
        margin: 11px 6px 0 6px; }
    .page-header.navbar .top-menu {
      margin: 0;
      padding: 0;
      float: right; }
      .page-header.navbar .top-menu .navbar-nav {
        padding: 0;
        margin-right: 20px;
        display: block;
        /* Extended Dropdowns */
        /* Notification */
        /* Inbox */
        /* Tasks */
        /* User */
        /* Language */
        /* Dark version */ }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown {
          margin: 0px;
          padding: 0px 4px;
          height: 46px;
          display: inline-block; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown:last-child {
            padding-right: 0px; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
            margin: 0px;
            padding: 17px 10px 9px 10px; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:last-child {
              padding-right: 0; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > i {
              font-size: 17px; }
              .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > i.glyphicon {
                font-size: 16px; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > .badge {
              font-family: "Open Sans", sans-serif;
              position: absolute;
              top: 10px;
              right: 20px;
              font-weight: 300;
              padding: 3px 6px; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:focus {
              background: none; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu {
            margin-top: 3px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
              position: absolute;
              top: -7px;
              right: 9px;
              display: inline-block !important;
              border-right: 7px solid transparent;
              border-bottom: 7px solid #eee;
              border-left: 7px solid transparent;
              border-bottom-color: rgba(0, 0, 0, 0.2);
              content: ''; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:after {
              position: absolute;
              top: -6px;
              right: 10px;
              display: inline-block !important;
              border-right: 6px solid transparent;
              border-bottom: 6px solid #fff;
              border-left: 6px solid transparent;
              content: ''; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu > li > a {
              color: #555; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
          min-width: 160px;
          max-width: 275px;
          width: 275px;
          z-index: 9995;
          /* header notifications dropdowns */ }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
            display: block;
            overflow: hidden;
            padding: 15px 15px;
            letter-spacing: 0.5px;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            -ms-border-radius: 4px 4px 0 0;
            -o-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
              margin: 0;
              padding: 0;
              float: left;
              font-size: 13px;
              display: inline-block; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
              display: inline-block;
              padding: 0;
              background: none;
              clear: inherit;
              font-size: 13px;
              font-weight: 300;
              position: absolute;
              right: 10px;
              border: 0;
              margin-top: -1px; }
              .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
                text-decoration: none; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list {
            padding-right: 0 !important;
            padding-left: 0;
            list-style: none; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
              display: block;
              clear: both;
              font-weight: 300;
              line-height: 20px;
              white-space: normal;
              font-size: 13px;
              padding: 16px 15px 18px;
              text-shadow: none; }
              .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
                opacity: 1 ;
                filter: alpha(opacity=100) ;
                text-decoration: none; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li:first-child a {
              border-top: none; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details {
          overflow: hidden; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon {
            margin-right: 10px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon i {
              margin-right: 2px;
              margin-left: 1px; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon .badge {
              right: 15px; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .time {
          float: right;
          max-width: 75px;
          font-size: 11px;
          font-weight: 400;
          opacity: 0.7 ;
          filter: alpha(opacity=70) ;
          text-align: right;
          padding: 1px 5px; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .photo {
          float: left;
          margin: 0 6px 6px 0; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .photo img {
            height: 40px;
            width: 40px;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            -ms-border-radius: 50% !important;
            -o-border-radius: 50% !important;
            border-radius: 50% !important; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .subject {
          display: block;
          margin-left: 46px; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .subject .from {
            font-size: 13px;
            font-weight: 600; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .subject .time {
            font-size: 12px;
            font-weight: 400;
            opacity: 0.5 ;
            filter: alpha(opacity=50) ;
            float: right; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .message {
          display: block !important;
          font-size: 12px;
          line-height: 1.3;
          margin-left: 46px; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list > li .task {
          margin-bottom: 5px; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list > li .task .desc {
            font-size: 13px;
            font-weight: 300; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list > li .task .percent {
            float: right;
            font-weight: 600;
            display: inline-block; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list > li .progress {
          display: block;
          height: 8px;
          margin: 8px 0 2px; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list > li .progress .progress-bar {
            box-shadow: none; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
          padding: 14px 6px 12px 8px; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > .username {
            display: inline-block;
            font-size: 13px;
            font-weight: 300; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img {
            float: left;
            margin-top: -5px;
            margin-right: 5px;
            height: 29px;
            display: inline-block; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > i {
            display: inline-block;
            margin-top: 5px;
            margin: 0;
            font-size: 13px; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu {
          width: 175px; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a {
            font-size: 14px;
            font-weight: 300; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a i {
              width: 15px;
              display: inline-block;
              margin-right: 9px; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a .badge {
              margin-right: 10px; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-language {
          padding-left: 0;
          padding-right: 0;
          margin: 0; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle {
            padding: 14px 3px 12px 7px; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > img {
              margin-bottom: 2px; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > i {
              font-size: 14px; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-menu > li > a {
            font-size: 13px; }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-menu > li > a > img {
              margin-bottom: 2px;
              margin-right: 5px; }
        .page-header.navbar .top-menu .navbar-nav li.dropdown-dark .dropdown-menu:before {
          border-left: none;
          border-right: none; }
        .page-header.navbar .top-menu .navbar-nav li.dropdown-dark .dropdown-menu .dropdown-menu-list > li.external a {
          background: none !important;
          border: none !important; }
  
  /* 11/1/18 */
  .page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #79869a;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #36c6d3;
    color: #fff;
}
.icon-bell:before {
    content: "\e027";
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu {
    border-color: #e7eaf0;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    background: #eaedf2;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3 {
    color: #62878f;
}
.bold {
    font-weight: 700!important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a {
    color: #337ab7;
}
.scroller {
    padding: 0 12px 0 0;
    margin: 0;
    overflow: hidden;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a {
    border-bottom: 1px solid #EFF2F6!important;
    color: #888;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li>a .time {
    background: #f1f1f1;
}
.label-success {
    background-color: #36c6d3;
}

.label.label-icon>i {
    font-size: 12px;
    text-align: center!important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: #3f4f62;
}
  
  
  
  
  /* Allow expanded search for above 768px */
  @media (min-width: 768px) {
    /* 768px */
    .page-header.navbar {
      /* Search box */ }
      .page-header.navbar .search-form.search-form-expanded {
        width: 200px; }
        .page-header.navbar .search-form.search-form-expanded .input-group .form-control {
          text-indent: 0; }
          .page-header.navbar .search-form.search-form-expanded .input-group .form-control:hover {
            cursor: text; }
        .page-header.navbar .search-form.search-form-expanded .input-group .input-group-btn .btn.submit {
          margin-left: 0; } }
  
  /*** 
  Horizontal Menu 
  ***/
  .page-header.navbar {
    /* Header container */
    /* Mega menu */ }
    .page-header.navbar .container {
      position: relative; }
    .page-header.navbar .hor-menu {
      margin: 0 0 0 -17px;
      margin: 0;
      float: left; }
      .page-header.navbar .hor-menu .navbar-nav {
        position: static;
        /* Mega menu */
        /* Mega Menu Dropdown */
        /* Classic menu */ }
        .page-header.navbar .hor-menu .navbar-nav.navbar-right .dropdown-menu {
          left: auto;
          right: 0; }
        .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown {
          position: static; }
          .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
            left: auto;
            width: auto; }
            .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content {
              font-family: "Open Sans", sans-serif;
              padding: 15px;
              margin: 0; }
              .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content.mega-menu-responsive-content {
                padding: 10px 18px 10px 45px; }
              .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu {
                padding: 0;
                margin: 0; }
                .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu:last-child {
                  border-right: 0; }
                .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li {
                  margin: 0 !important;
                  list-style: none; }
                  .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
                    margin-top: 5px;
                    padding-left: 6px;
                    font-size: 15px;
                    font-weight: 400; }
                  .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a {
                    display: block;
                    white-space: normal;
                    font-family: "Open Sans", sans-serif;
                    padding: 7px;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 300; }
                    .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a:hover {
                      text-decoration: none; }
                    .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a.iconify {
                      padding: 7px 7px 7px 30px; }
                      .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a.iconify > i {
                        position: absolute;
                        top: auto !important;
                        margin-left: -24px;
                        font-size: 15px;
                        margin-top: 3px !important; }
                    .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a .badge,
                    .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a .label {
                      margin-left: 5px; }
          .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown.mega-menu-full .dropdown-menu {
            left: 20px;
            right: 20px; }
          .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown:hover > .dropdown-menu {
            display: block; }
        .page-header.navbar .hor-menu .navbar-nav > li.menu-dropdown .dropdown-menu:after,
        .page-header.navbar .hor-menu .navbar-nav > li.menu-dropdown .dropdown-menu:before {
          display: none !important; }
        .page-header.navbar .hor-menu .navbar-nav > li > a {
          font-size: 14px;
          font-weight: 400;
          padding: 13px 13px; }
          .page-header.navbar .hor-menu .navbar-nav > li > a:focus {
            background: none !important; }
        .page-header.navbar .hor-menu .navbar-nav > li.current .selected,
        .page-header.navbar .hor-menu .navbar-nav > li.active .selected {
          left: 50%;
          bottom: 0;
          position: absolute;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid transparent;
          display: inline-block;
          margin: 0;
          width: 0;
          height: 0px;
          margin-left: -7px;
          margin-bottom: -6px; }
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu {
          margin-top: 0;
          border: none; }
          .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 300;
            padding: 9px 10px;
            white-space: normal; }
            .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a .label,
            .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a .badge {
              font-weight: 300; }
        .page-header.navbar .hor-menu .navbar-nav > li.classic-menu-dropdown .dropdown-menu {
          min-width: 195px;
          max-width: 235px; }
        .page-header.navbar .hor-menu .navbar-nav > li.classic-menu-dropdown:hover > .dropdown-menu {
          display: block; }
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-submenu > .dropdown-menu {
          top: 0; }
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-submenu > a:after {
          top: 9px;
          right: 10px; }
  
  /* Form medium devices upto large devices */
  @media (min-width: 992px) and (max-width: 1200px) {
    /* 992px 1200px */
    /* Boxed layout */
    .page-boxed .page-header.navbar {
      /* Top menu */ }
      .page-boxed .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle .username.username-hide-on-mobile {
        display: none; }
      .page-boxed .page-header.navbar .top-menu .navbar-nav > li.dropdown-language .dropdown-toggle .langname {
        display: none; } }
  
  @media (min-width: 992px) {
    /* 992px */
    /* Page header */
    .page-header.navbar {
      /* Header logo */ }
      .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
        padding: 0; }
      .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
        width: 45px; }
        .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo .logo-default {
          display: none; }
    /* Boxed Layout */
    .page-boxed .page-header.navbar {
      /* Page logo */
      /* Top menu */ }
      .page-boxed .page-header.navbar .page-logo {
        width: 236px; }
      .page-boxed .page-header.navbar .top-menu .navbar-nav {
        margin-right: 0px; }
    /* Sidebar closed & logo hidden */
    .page-sidebar-closed.page-sidebar-closed-hide-logo.page-boxed .page-header.navbar {
      /* Page logo */ }
      .page-sidebar-closed.page-sidebar-closed-hide-logo.page-boxed .page-header.navbar .page-logo {
        width: 46px; }
    /* Boxed layout & page sidebar fixed layout */
    .page-boxed.page-sidebar-fixed .page-header.navbar {
      /* Page logo */ }
      .page-boxed.page-sidebar-fixed .page-header.navbar .page-logo {
        width: 235px; } }
  
  @media (max-width: 991px) {
    /* 991px */
    /* Page header */
    .page-header.navbar {
      padding: 0 20px 0 20px;
      position: relative;
      clear: both;
      /* Page logo */
      /* Menu Toggler */
      /* Top Menu */ }
      .page-header.navbar .page-logo {
        width: auto;
        padding: 0;
        margin-right: 10px;
        margin-left: 0px !important;
        padding-left: 0px !important; }
        .page-header.navbar .page-logo img {
          margin-left: 4px !important; }
      .page-header.navbar .menu-toggler.sidebar-toggler {
        display: none !important; }
      .page-header.navbar .menu-toggler.responsive-toggler {
        display: inline-block; }
      .page-header.navbar .top-menu .navbar-nav {
        display: inline-block;
        margin: 0 10px 0 0; }
        .page-header.navbar .top-menu .navbar-nav > li {
          float: left; }
        .page-header.navbar .top-menu .navbar-nav .nav li.dropdown i {
          display: inline-block;
          position: relative;
          top: 1px;
          right: 0px; }
        .page-header.navbar .top-menu .navbar-nav .open .dropdown-menu {
          position: absolute; }
    /* Fixed header for mobile */
    .page-header-fixed.page-header-fixed-mobile .navbar-fixed-top {
      position: fixed; }
    /* Boxed Layout */
    .page-boxed .page-header.navbar > .container {
      max-width: none !important;
      margin: 0 !important;
      padding: 0 !important; } }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* 768px & 991px */
    /* Boxed Layout */
    .page-boxed .page-header.navbar {
      margin: auto !important;
      padding: 0; }
      .page-boxed .page-header.navbar > .container {
        margin: auto !important; } }
  
  @media (max-width: 767px) {
    /* 767px */
    /* Page header */
    .page-header.navbar {
      padding: 0 10px 0 10px;
      /* Header logo */
      /* Search box */
      /* Top navigation menu*/ }
      .page-header.navbar .page-logo {
        width: auto; }
      .page-header.navbar .search-form.open {
        z-index: 3;
        left: 10px;
        right: 10px;
        position: absolute;
        width: auto !important; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended > .dropdown-menu {
        max-width: 255px;
        width: 255px; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu {
        margin-right: -190px; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu:after,
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu:before {
          margin-right: 190px; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu {
        margin-right: -150px; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu:after,
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu:before {
          margin-right: 150px; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu {
        margin-right: -110px; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu:after,
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu:before {
          margin-right: 110px; } }
  
  @media (max-width: 580px) {
    /* Page header */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle .username.username-hide-on-mobile {
      display: none; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-language .dropdown-toggle .langname {
      display: none; } }
  
  @media (max-width: 480px) {
    /* 480px */
    /* Fixed header for mobile */
    .page-header-fixed.page-header-fixed-mobile .page-header.navbar {
      height: 92px; }
    .page-header.navbar {
      /* Top menu */ }
      .page-header.navbar .top-menu {
        display: block;
        clear: both;
        float: none; }
        .page-header.navbar .top-menu .navbar-nav {
          margin-right: 0; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle {
            padding: 17px 6px 9px 6px; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-language .dropdown-toggle {
            padding: 14px 4px 12px 2px; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
            padding: 14px 0px 12px 2px; } }