/* Page breadcrumb */
.page-bar {
    padding: 0px;
    background-color: #fff;
    margin-bottom: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    .page-bar:before,
    .page-bar:after {
      content: " ";
      display: table; }
    .page-bar:after {
      clear: both; }
    .page-bar .page-breadcrumb {
      display: inline-block;
      float: left;
      padding: 11px 20px;
      margin: 0;
      list-style: none; }
      .page-bar .page-breadcrumb > li {
        display: inline-block; }
        .ie8 .page-bar .page-breadcrumb > li {
          margin-right: 1px; }
        .page-bar .page-breadcrumb > li > a,
        .page-bar .page-breadcrumb > li > span {
          color: #888;
          font-size: 14px;
          text-shadow: none; }
        .page-bar .page-breadcrumb > li > i {
          color: #aaa;
		text-shadow: none;
		font-size: 5px;
		margin: 0 5px;
		position: relative;
		top: -3px;
		opacity: .4; }
        .page-bar .page-breadcrumb > li > i[class^="icon-"],
        .page-bar .page-breadcrumb > li > i[class*="icon-"] {
          color: gray; }
    .page-bar .page-toolbar {
      display: inline-block;
      float: right;
      padding: 0; }
      .page-bar .page-toolbar .btn-fit-height {
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -ms-border-radius: 0 4px 4px 0;
        -o-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        padding-top: 8px;
        padding-bottom: 8px; }
        .page-md .page-bar .page-toolbar .btn-fit-height {
          padding-top: 9px;
          padding-bottom: 9px;
          box-shadow: none !important; }
    .page-content-white .page-bar,
    .page-container-bg-solid .page-bar {
      background-color: #ffffff;
      position: relative;
      padding: 0px 20px;
      margin: -25px -20px 0 -20px; }
      .page-content-white .page-bar .page-breadcrumb,
      .page-container-bg-solid .page-bar .page-breadcrumb {
        padding: 11px 0; }
        .page-content-white .page-bar .page-breadcrumb > li > a,
        .page-content-white .page-bar .page-breadcrumb > li > span,
        .page-container-bg-solid .page-bar .page-breadcrumb > li > a,
        .page-container-bg-solid .page-bar .page-breadcrumb > li > span {
          color: #888; }
        .page-content-white .page-bar .page-breadcrumb > li > i,
        .page-container-bg-solid .page-bar .page-breadcrumb > li > i {
          color: #aaa; }
          .page-content-white .page-bar .page-breadcrumb > li > i.fa-circle,
          .page-container-bg-solid .page-bar .page-breadcrumb > li > i.fa-circle {
            font-size: 5px;
            margin: 0 5px;
            position: relative;
            top: -3px;
            opacity: 0.4 ;
            filter: alpha(opacity=40) ; }
        .page-content-white .page-bar .page-breadcrumb > li > i[class^="icon-"],
        .page-content-white .page-bar .page-breadcrumb > li > i[class*="icon-"],
        .page-container-bg-solid .page-bar .page-breadcrumb > li > i[class^="icon-"],
        .page-container-bg-solid .page-bar .page-breadcrumb > li > i[class*="icon-"] {
          color: #8c8c8c; }
      .page-content-white .page-bar .page-toolbar,
      .page-container-bg-solid .page-bar .page-toolbar {
        padding: 6px 0; }
        .page-content-white .page-bar .page-toolbar .btn,
        .page-container-bg-solid .page-bar .page-toolbar .btn {
          margin-top: -2px; }
          .page-content-white .page-bar .page-toolbar .btn.btn-sm,
          .page-container-bg-solid .page-bar .page-toolbar .btn.btn-sm {
            margin-top: 0px; }