<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<a href="index.html">Home</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<span>{{title}}</span>
			
			<!-- <span *ngIf="type==vbe_study" >VBE Study</span> -->
		</li>
	</ul>
</div>

   