.chart-title{
	font-weight:bold;
	text-align:center;
}
.chart-parent-group{
	border:1px solid #eef1f5;
	    width: 100%;
    float: left;
}
.chart-parent-group .portlet.light.bordered {
     border: 0px solid #e7ecf1!important; 
}
.chart-parent-group .portlet.light.bordered>.portlet-title {
	border-bottom: 0px solid #eef1f5;
}
.chart-map-parent {
    width: 100%;
    float: left;
    padding: 0 15px;
}
.font-purple {
    color: #4471c5!important;
}
.text-center{
    text-align: center;
}
.simulation-stats .portlet-body, .simulation-stats .portlet-fit{
	float:left;
	width:100%;
}
.box-main{
    width: 55%;
    float: left;
    border: 1px solid #c3c3c3;
    padding: 15px 0px;
	text-align:center;
}
.box-main span{
	float:left;
	margin-left:15px;
}









