<app-header></app-header>
<div class="clearfix"></div>
<div class="page-container simulation-stats">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<app-sidebar></app-sidebar>
	</div>
	<div class="page-content-wrapper">
		<!-- BEGIN CONTENT BODY -->
		<div class="page-content">
			<app-breadcrumbs title="Dashboard"></app-breadcrumbs>
			<div class="row">
				<div class="col-sm-12">
					<div class="portlet light portlet-fit bordered">

						<div class="portlet-body">
							<a id="csvReport">
								<button (click)="downloadReport()" class="btn btn-info" type="button">PDF</button>
								<button (click)="downloadCSV()" class="btn btn-info" type="button">CSV</button>
							</a>

							<p class="text-center">
								<span class="caption-subject font-purple bold uppercase">Sample Inputs</span>
							</p>

							<p class="caption-subject text-center"> {{simulationData.population.type}}_{{inputs.population_timestamp}} - {{simulationData.drug.name}}_{{inputs.drug_timestamp}}
								- {{trialName}}_{{inputs.trial_timestamp}}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row" *ngIf="type == 'vbe'">
				<div class="col-sm-12">
					<div class="portlet light portlet-fit bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class=" icon-layers font-purple"></i>
								<span class="caption-subject font-purple bold uppercase">Simulation Result</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="col-sm-4">
								<div class="box-main">
									<p>R
										<sub>auc</sub> = AUC
										<sub>test</sub> / AUC
										<sub>ref</sub>
									</p>
									<span>
										Mean
										<br> {{simulation_data.summary.RAUCMean}}
									</span>
									<span>
										10%CI
										<br> {{simulation_data.summary.RAUC10CI}}
									</span>
									<span>90%CI
										<br> {{simulation_data.summary.RAUC90CI}}
									</span>
								</div>
							</div>
							<div class="col-sm-4 text-center">
								<div class="box-main">

									<p>RC
										<sub>max</sub> = C
										<sub>max_test</sub> / C
										<sub>max_ref</sub>
									</p>
									<span>
										Mean
										<br> {{simulation_data.summary.RcmaxMean}}
									</span>
									<span>
										10%CI
										<br> {{simulation_data.summary.Rcmax10CI}}
									</span>
									<span>90%CI
										<br> {{simulation_data.summary.Rcmax90CI}}
									</span>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="box-main">

									<p>Rt
										<sub>max</sub> = T
										<sub>max_test</sub> / T
										<sub>max_ref</sub>
									</p>
									<span>
										Mean
										<br> {{simulation_data.summary.RtmaxMean}}
									</span>
									<span>
										10%CI
										<br> {{simulation_data.summary.Rtmax10CI}}
									</span>
									<span>90%CI
										<br> {{simulation_data.summary.Rtmax90CI}}
									</span>
								</div>
							</div>
							<div class="col-sm-4">
							</div>
							<div class="col-sm-4">
								<div class="box-main">

									<span>F1
										<sub>(difference)</sub>
										<br> {{simulation_data.summary.f1}}
									</span>
									<span>F2
										<sub>(similarity)</sub>
										<br> {{simulation_data.summary.f2}}
									</span>
								</div>
							</div>
							<div class="col-sm-4">
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="row" *ngIf="type == 'vbe'">
				<div class="col-sm-12">
					<div class="portlet light portlet-fit bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class=" icon-layers font-purple"></i>
								<span class="caption-subject font-purple bold uppercase">VBE output chart</span>
								<p>Concentration-Time Profile (total {{totalSub}} subjects)</p>
							</div>
						</div>
						<div class="portlet-body">
							<div id="chart_1_1" class="chart" style="height:600px"> </div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" *ngIf="type != 'vbe'">
				<div class="chart-map-parent">
					<h3 *ngIf="type=='fullpbpk'" class="chart-title">PBPK output chart minipbpk</h3>
					<h3 *ngIf="type=='minipbpk'" class="chart-title">PBPK output chart fullpbpk</h3>
					<div class="chart-parent-group">
						<div>
							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Plasma</span>
										</div>
									</div>
									<div class="portlet-body">
										<div id="chart_1_2" class="chart"> </div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Liver</span>
										</div>

									</div>
									<div class="portlet-body">
										<div id="chart_1_3" class="chart"> </div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Vein</span>

										</div>

									</div>
									<div class="portlet-body">
										<div id="chart_1_4" class="chart"> </div>
									</div>
								</div>
							</div>
						</div>

						<div *ngIf="type == 'minipbpk'">
							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Kidney</span>

										</div>

									</div>
									<div class="portlet-body">
										<div id="chart_1_5" class="chart"> </div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Brain</span>
										</div>

									</div>
									<div class="portlet-body">
										<div id="chart_1_6" class="chart"> </div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Bone</span>
										</div>
									</div>
									<div class="portlet-body">
										<div id="chart_1_7" class="chart"> </div>
									</div>
								</div>
							</div>

						</div>


						<!-- additional graph -->


						<div *ngIf="type == 'minipbpk'">
							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Adipose</span>

										</div>

									</div>
									<div class="portlet-body">
										<div id="chart_1_8" class="chart"> </div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Artery</span>
										</div>

									</div>
									<div class="portlet-body">
										<div id="chart_1_9" class="chart"> </div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Gut</span>
										</div>
									</div>
									<div class="portlet-body">
										<div id="chart_1_10" class="chart"> </div>
									</div>
								</div>
							</div>

						</div>

						<div *ngIf="type == 'minipbpk'">
							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Heart</span>

										</div>

									</div>
									<div class="portlet-body">
										<div id="chart_1_11" class="chart"> </div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Lung</span>
										</div>

									</div>
									<div class="portlet-body">
										<div id="chart_1_12" class="chart"> </div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Muscle</span>
										</div>
									</div>
									<div class="portlet-body">
										<div id="chart_1_13" class="chart"> </div>
									</div>
								</div>
							</div>

						</div>


						<div *ngIf="type == 'minipbpk'">
							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Pancreas</span>
										</div>

									</div>
									<div class="portlet-body">
										<div id="chart_1_14" class="chart"> </div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Skin</span>
										</div>

									</div>
									<div class="portlet-body">
										<div id="chart_1_15" class="chart"> </div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="portlet light portlet-fit bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class=" icon-layers font-purple"></i>
											<span class="caption-subject font-purple bold uppercase">
												<span *ngIf="type == 'minipbpk'">P</span>Spleen</span>
										</div>
									</div>
									<div class="portlet-body">
										<div id="chart_1_16" class="chart"> </div>
									</div>
								</div>
							</div>

						</div>




					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<app-footer></app-footer>