<div class="login">
  <div class="logo">
      <a href="index.html"> <img src="../assets/pages/img/logo-big.jpg" alt="" class="logo-img" /> </a>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
      <!-- BEGIN LOGIN FORM -->
      <!-- <form class="login-form" action="index.html" method="post"> -->
      <!-- <form class="login-form" (ngSubmit)="f.form.valid && reset()" method="post"> -->
      <form class="login-form" (ngSubmit)="reset()">
          <h3 class="form-title font-green">Reset Password</h3>
          <div class="alert alert-danger display-hide">
              <button class="close" data-close="alert"></button> <span> Enter any username and password. </span> </div>
          <div class="form-group">
              <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
              <label class="control-label visible-ie8 visible-ie9">Enter new password</label>
              <input class="form-control form-control-solid placeholder-no-fix" type="password" [(ngModel)]="password" autocomplete="off" placeholder="Enter new password" name="password" /> </div>
          <div class="form-group">
              <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
              <input class="form-control form-control-solid placeholder-no-fix" type="password" [(ngModel)]="conpassword" autocomplete="off" placeholder="Re-type Your Password" name="conpassword" /> </div>
              <div *ngIf=" password != conpassword" class="help-block" style="color:red">Password & confirm Password not match</div>
              <div class="form-actions"> 
              <button type="submit" class="btn green uppercase">Update</button>  </div>
          
      </form>
      <!-- END LOGIN FORM -->
  </div>
  <div class="copyright"> 2014 © Metronic. Admin Dashboard Template. </div>
</div>