<app-header></app-header>
<div class="clearfix"> </div>
<div class="page-container">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>

  <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      <app-breadcrumbs></app-breadcrumbs>

      <div class="row">
        <div class="col-md-12">
          <!-- BEGIN EXAMPLE TABLE PORTLET-->
          <div class="portlet light bordered">
            <div class="portlet-title">
              <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase"> simulation</span>
              </div>

            </div>
            <div class="portlet-body">
              <div class="table-toolbar">
                <div class="row">
                  <div class="col-md-6">
                    <div class="btn-group">
                      <a (click)="createUser()" class="btn sbold green"> Add User
                        <i class="fa fa-plus"></i>
                      </a>
                    </div>

                  </div>
                  <div class="col-md-6">

                  </div>
                </div>
              </div>
              <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                  <tr>
                    <th>First Name </th>
                    <th>Last Name </th>
                    <th>Email Name </th>
                    <th>Company Name </th>
                    <th>Status </th>
                    <th>Action </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd gradeX" *ngFor="let user of users">
                    <th> {{user.firstname}}</th>
                    <th> {{user.lastname}}</th>
                    <th> {{user.email}}</th>
                    <td> {{user.company}} </td>
                    <td> {{user.status}} </td>
                    <td>
                      <div class="text-center">
                        <button (click)="editUser(user.id)" type="button" class="btn btn-info">Edit</button>
                        <button (click)="deleteUser(user.id)" type="button" class="btn btn-danger">Delete </button>
                      </div>

                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <!-- END EXAMPLE TABLE PORTLET-->
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>


<div id="user-model" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content full-width">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User Infomation</h4>
      </div>
      <div class="modal-body">
        <div class="content">
          <!-- BEGIN LOGIN FORM -->
          <!-- <form class="register-form" action="index.html"  method="post"> -->
          <form class="register-form" (ngSubmit)="f.form.valid && addUser(f)" #f="ngForm" novalidate>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
                <div class="col-md-4">
              <label class="control-label">First Name</label>
            </div>
            <div class="col-md-8">
              <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="user.firstname" placeholder="First Name" name="firstname"
                #firstname="ngModel" required />
              <div *ngIf="f.submitted && !firstname.valid" class="help-block">Please enter firstname name</div>
            </div>
          </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
                <div class="col-md-4">
              <label class="control-label">Last Name</label>
            </div>
            <div class="col-md-8">
              <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="user.lastname" placeholder="Last Name" name="lastname"
                #lastname="ngModel" required/>
              <div *ngIf="f.submitted && !lastname.valid" class="help-block">Please enter lastname name</div>
            </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <div class="col-md-4">
              <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
              <label class="control-label">Email</label>
            </div>
            <div class="col-md-8">
              <input [disabled]="edit" class="form-control placeholder-no-fix" type="email" [(ngModel)]="user.email" placeholder="Email"
                name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required/>
              <div class="help-block" *ngIf="email.errors && email.errors.pattern">
                Please enter valid
              </div>
            </div>
          </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !company.valid }">
                <div class="col-md-4">
              <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
              <label class="control-label">Company Name</label>
            </div>
            <div class="col-md-8">
              <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="user.company" placeholder="Company Name" name="company"
                #company="ngModel" required/>
              <div *ngIf="f.submitted && !company.valid" class="help-block">Please enter company name</div>
            </div>
          </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <div class="col-md-4">
              <label class="control-label">Username</label>
            </div>
            <div class="col-md-8">
              <input [disabled]="edit" class="form-control placeholder-no-fix" type="text" [(ngModel)]="user.username" autocomplete="off"
                placeholder="Username" name="username" #username="ngModel" required/>
              <div *ngIf="f.submitted && !username.valid" class="help-block">Please enter username</div>
            </div>
          </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <div class="col-md-4">
              <label class="control-label">Password</label>
            </div>
            <div class="col-md-8">
              <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="user.password" autocomplete="off" id="register_password"
                placeholder="Password" name="password" #password="ngModel" required/>
              <div *ngIf="f.submitted && !password.valid" class="help-block">Please enter password</div>
            </div>
          </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !status.valid }">
                <div class="col-md-4">
              <label class="control-label">Status</label>
            </div>
            <div class="col-md-8">
              <select class="form-control" [(ngModel)]="user.status" name="status" #status="ngModel" autocomplete="off" required>
                <option value="active">active</option>
                <option value="inactivate">inactivate</option>
              </select>
              <div *ngIf="f.submitted && !status.valid" class="help-block">Please select status</div>
            </div>
          </div>


            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !role.valid }">
                <div class="col-md-4">
                <label class="control-label">Role</label>
              </div>
              <div class="col-md-8">
                <select class="form-control" [(ngModel)]="user.role" name="role" #role="ngModel" autocomplete="off" required>
                  <option value="user">user</option>
                  <option value="admin">admin</option>
                </select>
                <div *ngIf="f.submitted && !role.valid" class="help-block">Please select role</div>
              </div>
            </div>

              <div class="form-group" >
                <div class="form-actions">
                  <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
                </div>
             </div>
          </form>
          
          <!-- END LOGIN FORM -->
        </div>
      </div>

    </div>

  </div>
</div>