.help-block{
    color: red;
}
.full-width{
    width:100%;
    float: left;
}
.form-actions{
    margin-bottom: 20px;
    width: 100%;
    float: left;
}
#user-model .form-group{
    width: 100%;
    float: left;
}