<app-header></app-header>
<div class="clearfix"> </div>
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<app-sidebar></app-sidebar>
	</div>
	<div class="page-content-wrapper">
		<!-- BEGIN CONTENT BODY -->
		<div class="page-content">
			<app-breadcrumbs title="Add Trial"></app-breadcrumbs>
			<div class="row">
				<div class="col-md-12">
					<div class="portlet light portlet-fit bordered">
						<div class="portlet-title">
							<div class="caption font-dark">
								<i class="icon-settings font-dark"></i>
								<span class="caption-subject bold uppercase"> Add Trial</span>
							</div>
						</div>
						<div class="portlet-body">
							<form (ngSubmit)="at.form.valid && submitForm()" #at="ngForm" novalidate>
								<div class="row">
									<div class="form-group col-md-6" [ngClass]="{ 'has-error': at.submitted && !trialName.valid }">
										<label class="col-md-5 control-label">Name</label>
										<div class="col-md-7">
											<input type="text" class="form-control" [(ngModel)]="data.trialName" name="trialName" placeholder="Trail Name" #trialName="ngModel"
											 autocomplete="off" required />
											<div *ngIf="at.submitted && !trialName.valid" class="help-block">Please Enter Trail Name</div>
										</div>
									</div>
								</div>
								<!-- </form> -->
								<!--First Step-->
								<div class="panel-group accordion" id="accordion3">

									<h4 class="form-section">SUBJECT</h4>
									<div class="row">

										<div class="col-md-6 form-group" [ngClass]="{ 'has-error': at.submitted && !subject.valid }">
											<label class="control-label col-md-5">total subject
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.total_subject}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.subject.total_subject" name="subject" class="form-control" placeholder="total subject"
												 #subject="ngModel" autocomplete="off" required />
												<div *ngIf="at.submitted && !subject.valid" class="help-block">Please Enter Total Subject</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 form-group" [ngClass]="{ 'has-error': at.submitted && !female.valid }">
											<label class="control-label col-md-5">female
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.female}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.subject.female" name="female" class="form-control" placeholder="female" #female="ngModel"
												 autocomplete="off" required />
												<div *ngIf="at.submitted && !female.valid" class="help-block">Please Enter female</div>
											</div>
										</div>
										<div class="col-md-6 form-group" [ngClass]="{ 'has-error': at.submitted && !age_min.valid }">
											<label class="control-label col-md-5">age min
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.age_min}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.subject.age_min" name="age_min" class="form-control" placeholder="agemin" #age_min="ngModel"
												 autocomplete="off" required />
												<div *ngIf="at.submitted && !age_min.valid" class="help-block">Please Enter Age Min</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 form-group" [ngClass]="{ 'has-error': at.submitted && !age_max.valid }">
											<label class="control-label col-md-5">age max
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.age_max}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.subject.age_max" name="age_max" class="form-control" placeholder="age max" #age_max="ngModel"
												 autocomplete="off" required />
												<div *ngIf="at.submitted && !age_max.valid" class="help-block">Please Enter Age Max</div>
											</div>
										</div>
										<div class="col-md-6 form-group" [ngClass]="{ 'has-error': at.submitted && !weight_min.valid }">
											<label class="control-label col-md-5">weight min
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.weight_min}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.subject.weight_min" name="weight_min" class="form-control" placeholder="weight min"
												 #weight_min="ngModel" autocomplete="off" required />
												<div *ngIf="at.submitted && !weight_min.valid" class="help-block">Please Enter Weight Min</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 form-group" [ngClass]="{ 'has-error': at.submitted && !weight_max.valid }">
											<label class="control-label col-md-5">weight max
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.subject.weight_max}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.subject.weight_max" name="weight_max" class="form-control" placeholder="weight max"
												 #weight_max="ngModel" autocomplete="off" required />
												<div *ngIf="at.submitted && !weight_max.valid" class="help-block">Please Enter Weight Max</div>
											</div>
										</div>
									</div>
									<h3 class="form-section">PLAN</h3>
									<div class="row">
										<div class="form-group col-md-6" [ngClass]="{ 'has-error': at.submitted && !select_dose.valid }">
											<label class="col-md-3 control-label">Select Dose</label>
											<div class="col-md-7">
												<select class="form-control" [(ngModel)]="data.plan.selectd_dose" name="select_dose" (change)="onDoseSelect()" #select_dose="ngModel"
												 autocomplete="off" required>
													<option value="single">Single</option>
													<option value="multiple">Multiple</option>
												</select>
												<div *ngIf="at.submitted && !select_dose.valid" class="help-block">Please Enter Select Dose</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 form-group" [ngClass]="{ 'has-error': at.submitted && !dose.valid }">
											<label class="control-label col-md-5">dose
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" data-toggle="tooltip" title="{{tooltipTrial.plan.dose}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.plan.dose" name="dose" class="form-control" placeholder="dos" #dose="ngModel" autocomplete="off"
												 required />
												<div *ngIf="at.submitted && !dose.valid" class="help-block">Please Enter Weight Max</div>
											</div>
										</div>

										<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose!='multiple'">
											<!-- *ngIf="data.plan.selectd_dose=='multiple'" -->
											<label class="control-label col-md-5">Duration
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.plan.duration}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.plan.duration" name="duration" class="form-control" placeholder="duration">
											</div>
										</div>

										<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose=='multiple'" [ngClass]="{ 'has-error': at.submitted && !total_duration.valid }">
											<!--*ngIf="data.plan.selectd_dose=='multiple'"-->
											<label class="control-label col-md-5">total duration
												<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.plan.total_duration}}"></span>
											</label>
											<div class="col-md-7">
												<input type="number" [(ngModel)]="data.plan.total_duration" name="total_duration" class="form-control" placeholder="total_duration"
												 #total_duration="ngModel" autocomplete="off" required />
												<div *ngIf="at.submitted && !total_duration.valid" class="help-block">Please Enter Weight Max</div>
											</div>
										</div>
									</div>

									<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose=='multiple'" [ngClass]="{ 'has-error': at.submitted && !phase1_duration.valid }">
										<label class="control-label col-md-5">phase1 duration
											<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.plan.phase1_duration}}"></span>
										</label>
										<div class="col-md-7">
											<input type="number" [(ngModel)]="data.plan.phase1_duration" name="phase1_duration" class="form-control" placeholder="phase1 duration"
											 #phase1_duration="ngModel" autocomplete="off" required />
											<div *ngIf="at.submitted && !phase1_duration.valid" class="help-block">Please Enter Weight Max</div>
										</div>
									</div>

									<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose=='multiple'" [ngClass]="{ 'has-error': at.submitted && !phase2_duration.valid }">
										<label class="control-label col-md-5">phase2 duration
											<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.plan.phase2_duration}}"></span>
										</label>
										<div class="col-md-7">
											<input type="number" [(ngModel)]="data.plan.phase2_duration" name="phase2_duration" class="form-control" placeholder="phase2 duration"
											 #phase2_duration="ngModel" autocomplete="off" required />
											<div *ngIf="at.submitted && !phase2_duration.valid" class="help-block">Please Enter Weight Max</div>
										</div>
									</div>

									<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose=='multiple'" [ngClass]="{ 'has-error': at.submitted && !washout_duration.valid }">
										<label class="control-label col-md-5">washout duration
											<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.plan.washout_duration}}"></span>
										</label>
										<div class="col-md-7">
											<input type="number" [(ngModel)]="data.plan.washout_duration" name="washout_duration" class="form-control" placeholder="washout duration"
											 #washout_duration="ngModel" autocomplete="off" required />
											<div *ngIf="at.submitted && !washout_duration.valid" class="help-block">Please Enter Weight Max</div>
										</div>
									</div>

									<div class="col-md-6 form-group" *ngIf="data.plan.selectd_dose=='multiple'" [ngClass]="{ 'has-error': at.submitted && !water_intake.valid }">
										<label class="control-label col-md-5">water intake
											<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltipTrial.plan.water_intake}}"></span>
										</label>
										<div class="col-md-7">
											<input type="number" [(ngModel)]="data.plan.water_intake" name="water_intake" class="form-control" placeholder="water intake"
											 #water_intake="ngModel" autocomplete="off" required />
											<div *ngIf="at.submitted && !water_intake.valid" class="help-block">Please Enter Weight Max</div>
										</div>
									</div>
									<br>
									<br>
									<div class="form-actions text-center">
										<button type="button" class="btn default">Cancel</button>
										<button *ngIf="!id" type="submit" class="btn green">Save </button>
										<button *ngIf="id" type="submit" class="btn green">Update</button>
									</div>
								</div>
							</form>
							<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>