<app-header></app-header>
<div class="clearfix"> </div>
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <app-breadcrumbs title="Add Drug"></app-breadcrumbs>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Add Drug</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form (ngSubmit)="df.form.valid && submitForm()" #df="ngForm" novalidate>
                                <!-- <form role="form"> -->
                                <div class="row">
                                    <div class="form-group col-md-6" [ngClass]="{ 'has-error': df.submitted && !drugname.valid }">
                                        <label class="col-md-5 control-label">Drug Name
                                            <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.name}}"></span>
                                        </label>
                                        <div class="col-md-7">
                                            <input class="form-control" name="drugname" [(ngModel)]="drug.name" placeholder="Drug Name" #drugname="ngModel" autocomplete="off"
                                                required />
                                            <div *ngIf="df.submitted && !drugname.valid" class="help-block">Please Enter Drug Name</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </form> -->
                                <!--First Step-->
                                <div class="panel-group accordion" id="accordion2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse_4"> Physchem </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_4" class="panel-collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !bp.valid }">
                                                        <label class="control-label col-md-3">BP
                                                            <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.physchem.bp}}"></span>
                                                        </label>
                                                        <div class="col-md-7">
                                                            <input [(ngModel)]="drug.physchem.bp" name="bp" type="number" class="form-control" placeholder="bp" #bp="ngModel" autocomplete="off"
                                                                required />
                                                            <div *ngIf="df.submitted && !bp.valid" class="help-block">Please Enter BP</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !fu.valid }">
                                                        <label class="control-label col-md-3">FU
                                                            <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.physchem.fu}}"></span>
                                                        </label>
                                                        <div class="col-md-7">
                                                            <input [(ngModel)]="drug.physchem.fu" name="fu" type="number" class="form-control" placeholder="FU" #fu="ngModel" autocomplete="off"
                                                                required />
                                                            <div *ngIf="df.submitted && !fu.valid" class="help-block">Please Enter FU</div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-actions text-center">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse_5" aria-expanded="false">
                                                    Absorption </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="col-md-3 control-label">Select Group</label>
                                                        <div class="col-md-7">
                                                            <select class="form-control" [(ngModel)]="select_absorption" (change)="onAbsorptionSelect()" name="select_absorption">
                                                                <option value="dlm">DLM</option>
                                                                <option value="first_order">FIRST ORDER</option>
                                                                <option value="adam">ADAM</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="select_absorption == 'dlm'">
                                                    <h3 class="form-section">DLM</h3>

                                                    <h3 class="title-sect">Release</h3>
                                                    <div class="text-center" style="margin-bottom:10px;font-size:18px;">
                                                        <span class="" style="color:red">{{dlmDissolutionError}}</span>
                                                    </div>

                                                    <div class="col-sm-12" *ngFor="let item of drug.absorption.dlm.dissolution; let i = index">

                                                        <div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && !release_time.valid}">
                                                            <label class="control-label col-md-5">Release Time
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.dlm.release_time}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="item.release_time" (input)="validateDissolution()" name="release_time{{i}}" type="number" class="form-control"
                                                                    placeholder="release time" #release_time="ngModel" autocomplete="off"
                                                                    required/>
                                                                <div *ngIf="df.submitted && !release_time.valid" class="help-block">Please Enter Release Time</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && !release_fraction.valid}">
                                                            <label class="control-label col-md-5">Release Fraction
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.dlm.release_fraction}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="item.release_fraction" (input)="validateDissolution()" name="release_fraction{{i}}" type="number" (change)="validate=true"
                                                                    class="form-control" placeholder="release fraction" autocomplete="off"
                                                                    #release_fraction="ngModel" required />
                                                                <div *ngIf="df.submitted && !release_fraction.valid" class="help-block">
                                                                    Please Enter Release Fraction</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <i class="fa fa-plus" aria-hidden="true" (click)="addDlmDissolution()"></i>
                                                            <i class="fa fa-minus" aria-hidden="true" *ngIf="i > 0" (click)="removeDlmDissolution(i)"></i>
                                                        </div>
                                                    </div>

                                                    <h3 class="title-sect">Particle</h3>
                                                    <div class="text-center" style="margin-bottom:10px;font-size:18px;">
                                                        <span class="" style="color:red">{{dlmParticleError}}</span>
                                                    </div>
                                                    <div class="col-sm-12" *ngFor="let item of drug.absorption.dlm.particle; let i = index">

                                                        <div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && !particle_radius.valid}">
                                                            <label class="control-label col-md-5">particle radius
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.dlm.particle_radius}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" (input)="validateParticle()" [(ngModel)]="item.particle_radius" name="particle_radius{{i}}" class="form-control"
                                                                    placeholder="particle radius" autocomplete="off" #particle_radius="ngModel"
                                                                    required />
                                                                <div *ngIf="df.submitted && !particle_radius.valid" class="help-block">Please Enter Particle Fraction</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && ! particle_fraction.valid}">
                                                            <label class="control-label col-md-5">particle fraction
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.dlm.particle_fraction}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="item.particle_fraction" (input)="validateParticle()" name="particle_fraction{{i}}" type="number" (change)="validate=true"
                                                                    class="form-control" placeholder="particle fraction" autocomplete="off"
                                                                    #particle_fraction="ngModel" required />
                                                                <div *ngIf="df.submitted && !particle_fraction.valid" class="help-block">Please Enter Particle Fraction</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <i class="fa fa-plus" aria-hidden="true" (click)="addParticleDissolution()"></i>
                                                            <i class="fa fa-minus" aria-hidden="true" *ngIf="i > 0" (click)="removeParticleDissolution(i)"></i>
                                                        </div>
                                                    </div>


                                                    <div class="col-sm-12">
                                                        <div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && !intrinsic_solubility.valid}">
                                                            <label class="control-label col-md-5">intrinsic solubility
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.dlm.intrinsic_solubility}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.absorption.dlm.intrinsic_solubility" name="intrinsic_solubility" class="form-control"
                                                                    placeholder="intrinsic solubility" autocomplete="off" #intrinsic_solubility="ngModel"
                                                                    required />
                                                                <div *ngIf="df.submitted && !intrinsic_solubility.valid" class="help-block">Please Enter Intrinsic Solubility</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && !diffusion_coefficent.valid}">
                                                            <label class="control-label col-md-5">diffusion coefficent
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.dlm.diffusion_coefficent}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.absorption.dlm.diffusion_coefficent" name="diffusion_coefficent" class="form-control"
                                                                    placeholder="diffusion coefficent" autocomplete="off" #diffusion_coefficent="ngModel"
                                                                    required />
                                                                <div *ngIf="df.submitted && !diffusion_coefficent.valid" class="help-block">Please Enter Diffusion Coefficient</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && !h_eff_cutoff.valid}">
                                                            <label class="control-label col-md-5">heff cutoff
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.dlm.h_eff_cutoff}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.absorption.dlm.h_eff_cutoff" name="h_eff_cutoff" type="number" class="form-control" placeholder="h eff cutoff"
                                                                    autocomplete="off" #h_eff_cutoff="ngModel" required />
                                                                <div *ngIf="df.submitted && !h_eff_cutoff.valid" class="help-block">Please Enter Heff Cutoff</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="select_absorption == 'first_order'">
                                                    <h3 class="form-section">FIRST ORDER</h3>
                                                    <div class="row">
                                                        <div class="col-md-4 form-group" [ngClass]="{'has-error':df.submitted && !fa.valid }">
                                                            <label class="control-label col-md-5">fa
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.first_order.fa}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.absorption.first_order.fa" name="fa" class="form-control" placeholder="fa" autocomplete="off"
                                                                    #fa="ngModel" required />
                                                                <div *ngIf="df.submitted && !fa.valid" class="help-block">Please Enter FA</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !ka.valid}">
                                                            <label class="control-label col-md-5">ka
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.first_order.ka}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.absorption.first_order.ka" name="ka" type="number" (change)="validate=true" class="form-control"
                                                                    placeholder="ka" autocomplete="off" #ka="ngModel" required
                                                                />
                                                                <div *ngIf="df.submitted && !ka.valid" class="help-block">Please Enter KA</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !fg.valid}">
                                                            <label class="control-label col-md-5">fg
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.first_order.fg}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.absorption.first_order.fg" name="fg" type="number" (change)="validate=true" class="form-control"
                                                                    placeholder="fg" autocomplete="off" #fg="ngModel" required
                                                                />
                                                                <div *ngIf="df.submitted && !fg.valid" class="help-block">Please Enter FG</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="select_absorption == 'adam'">
                                                    <h3 class="form-section">ADAM</h3>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !bioavailability.valid}">
                                                            <label class="control-label col-md-5">bioavailability
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.adam.bioavailability}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.absorption.adam.bioavailability" name="bioavailability" type="number" class="form-control" placeholder="bioavailability"
                                                                    autocomplete="off" #bioavailability="ngModel" required />
                                                                <div *ngIf="df.submitted && !bioavailability.valid" class="help-block">Please enter bioavailability</div>
                                                            </div>
                                                        </div>


                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !fa.valid}">
                                                            <label class="control-label col-md-5">fa
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.adam.fa}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.absorption.adam.fa" name="fa" type="number" class="form-control" placeholder="fa"
                                                                    autocomplete="off" #fa="ngModel" required />
                                                                <div *ngIf="df.submitted && !fa.valid" class="help-block">Please Enter fa</div>
                                                            </div>
                                                        </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !ka.valid}">
                                        <label class="control-label col-md-5">ka
                                            <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.adam.ka}}"></span>
                                        </label>
                                        <div class="col-md-7">
                                            <input [(ngModel)]="drug.absorption.adam.ka" name="ka" type="number" class="form-control" placeholder="ka"
                                                autocomplete="off" #ka="ngModel" required />
                                            <div *ngIf="df.submitted && !ka.valid" class="help-block">Please enter KA</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !papp_caco.valid}">
                                        <label class="control-label col-md-5">Papp caco
                                            <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.absorption.adam.papp_caco}}"></span>
                                        </label>
                                        <div class="col-md-7">
                                            <input [(ngModel)]="drug.absorption.adam.papp_caco" name="papp_caco" type="number" class="form-control" placeholder="papp_caco"
                                                autocomplete="off" #papp_caco="ngModel" required />
                                            <div *ngIf="df.submitted && !papp_caco.valid" class="help-block">Please enter papp caco</div>
                                        </div>
                                    </div>


                                  </div>

                                                    <div class="text-center" style="margin-bottom:10px;font-size:18px;">
                                                        <span class="" style="color:red">{{testCaseError}}</span>
                                                    </div>

                                                    <div class="row" *ngFor="let item of drug.absorption.adam.dissolution; let i = index">
                                                        <div class="col-md-3 form-group" [ngClass]="{'has-error':df.submitted && !time.valid}">
                                                            <label class="control-label col-md-5">Time</label>
                                                            <div class="col-md-7">
                                                                <input (input)="validateTestCase()" type="number" [(ngModel)]="item.time" name="time{{i}}" class="form-control" placeholder="Time"
                                                                    autocomplete="off" #time="ngModel" required />
                                                                <div *ngIf="df.submitted && !time.valid" class="help-block">Please Enter Time</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 form-group" [ngClass]="{'has-error':df.submitted && !test.valid}">
                                                            <label class="control-label col-md-5">Test</label>
                                                            <div class="col-md-7">
                                                                <input (input)="validateTestCase()" type="number" [(ngModel)]="item.test" name="test{{i}}" class="form-control" placeholder="Test"
                                                                    autocomplete="off" #test="ngModel" required />
                                                                <div *ngIf="df.submitted && !test.valid" class="help-block">Please Enter Test</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 form-group" [ngClass]="{'has-error':df.submitted && !reference.valid}">
                                                            <label class="control-label col-md-5">Reference</label>
                                                            <div class="col-md-7">
                                                                <input (input)="validateTestCase()" type="number" [(ngModel)]="item.reference" name="reference{{i}}" class="form-control"
                                                                    placeholder="Reference" autocomplete="off" #reference="ngModel"
                                                                    required />
                                                                <div *ngIf="df.submitted && !reference.valid" class="help-block">Please Enter Reference</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 form-group">
                                                            <i class="fa fa-plus" aria-hidden="true" (click)="addDissolution()"></i>
                                                            <i class="fa fa-minus" aria-hidden="true" *ngIf="i > 0" (click)="removeDissolution(i)"></i>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse_6"> Distribution </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_6" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="col-md-3 control-label">Select Group </label>
                                                        <div class="col-md-7">
                                                            <select class="form-control" [(ngModel)]="select_distribution" (change)="onDistibutionSelect()" name="select_distribution" >
                                                                <option value="mini_pbpk">MINI PBPK</option>
                                                                <option value="full_pbpk">FULL PBPK</option>
                                                                <option value="vbe">VBE</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="select_distribution == 'mini_pbpk'">
                                                    <h3 class="form-section"> MINI PBPK</h3>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !vss.valid}">
                                                            <label class="control-label col-md-5">vss
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.mini_pbpk.vss}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.distribution.mini_pbpk.vss" name="vss" type="number" class="form-control" placeholder="vss" autocomplete="off"
                                                                    #vss="ngModel" required />
                                                                <div *ngIf="df.submitted && !vss.valid" class="help-block">Please Enter VSS</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !kp_liver.valid}">
                                                            <label class="control-label col-md-5">kp liver
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.mini_pbpk.kp_liver}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.distribution.mini_pbpk.kp_liver" name="kp_liver" type="number" class="form-control" placeholder="kp liver"
                                                                    autocomplete="off" #kp_liver="ngModel" required />
                                                                <div *ngIf="df.submitted && !kp_liver.valid" class="help-block">Please Enter KP Liver</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="select_distribution == 'full_pbpk'">
                                                    <h3 class="form-section"> FULL PBPK</h3>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !kpscalar.valid}">
                                                            <label class="control-label col-md-5">kpscalar
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.kpscalar}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.full_pbpk.kpscalar" name="kpscalar" class="form-control" placeholder="kpscalar"
                                                                    autocomplete="off" #kpscalar="ngModel" required />
                                                                <div *ngIf="df.submitted && !kpscalar.valid" class="help-block">Please Enter KP Scalar</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_adipose.valid}">
                                                            <label class="control-label col-md-5">pptp adipose
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_adipose}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.distribution.full_pbpk.pptp_adipose" name="pptp_adipose" type="number" class="form-control" placeholder="pptp adipose"
                                                                    autocomplete="off" #pptp_adipose="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_adipose.valid" class="help-block">Please Enter KP Adipose</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_bone.valid}">
                                                            <label class="control-label col-md-5">pptp bone
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_bone}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.distribution.full_pbpk.pptp_bone" name="pptp_bone" type="number" class="form-control" placeholder="pptp bone"
                                                                    autocomplete="off" #pptp_bone="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_bone.valid" class="help-block">Please Enter PPTP Bone</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_brain.valid}">
                                                            <label class="control-label col-md-5">pptp brain
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_brain}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_brain" name="pptp_brain" class="form-control" placeholder="pptp brain"
                                                                    autocomplete="off" #pptp_brain="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_brain.valid" class="help-block">Please Enter PPTP Brain</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_gut.valid}">
                                                            <label class="control-label col-md-5">pptp gut
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_gut}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_gut" name="pptp_gut" class="form-control" placeholder="pptp gut"
                                                                    autocomplete="off" #pptp_gut="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_gut.valid" class="help-block">Please Enter PPTP Gut</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_heart.valid}">
                                                            <label class="control-label col-md-5">pptp heart
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_heart}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_heart" name="pptp_heart" class="form-control" placeholder="pptp heart"
                                                                    autocomplete="off" #pptp_heart="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_heart.valid" class="help-block">Please Enter PPTP Heart</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_kidney.valid}">
                                                            <label class="control-label col-md-5">pptp kidney
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_kidney}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_kidney" name="pptp_kidney" class="form-control" placeholder="pptp kidney"
                                                                    autocomplete="off" #pptp_kidney="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_kidney.valid" class="help-block">Please Enter PPTP Kidney</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_liver.valid}">
                                                            <label class="control-label col-md-5">pptp liver
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_liver}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_liver" name="pptp_liver" class="form-control" placeholder="pptp liver"
                                                                    autocomplete="off" #pptp_liver="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_liver.valid" class="help-block">Please Enter PPTP Liver</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_lung.valid}">
                                                            <label class="control-label col-md-5">pptp lung
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_lung}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_lung" name="pptp_lung" class="form-control" placeholder="pptp lung"
                                                                    autocomplete="off" #pptp_lung="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_lung.valid" class="help-block">Please Enter PPTP Lung</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_muscle.valid}">
                                                            <label class="control-label col-md-5">pptp muscle
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_muscle}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_muscle" name="pptp_muscle" class="form-control" placeholder="pptp muscle"
                                                                    autocomplete="off" #pptp_muscle="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_muscle.valid" class="help-block">Please Enter PPTP Muscle</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_skin.valid}">
                                                            <label class="control-label col-md-5">pptp skin
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_skin}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.distribution.full_pbpk.pptp_skin" name="pptp_skin" type="number" class="form-control" placeholder="pptp skin"
                                                                    autocomplete="off" #pptp_skin="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_skin.valid" class="help-block">Please Enter PPTP Skin</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_spleen.valid}">
                                                            <label class="control-label col-md-5">pptp spleen
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_spleen}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.distribution.full_pbpk.pptp_spleen" name="pptp_spleen" type="number" class="form-control" placeholder="pptp spleen"
                                                                    autocomplete="off" #pptp_spleen="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_spleen.valid" class="help-block">Please Enter PPTP Spleen</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_arterial.valid}">
                                                            <label class="control-label col-md-5">pptp arterial
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_arterial}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.distribution.full_pbpk.pptp_arterial" name="pptp_arterial" type="number" class="form-control" placeholder="pptp arterial"
                                                                    autocomplete="off" #pptp_arterial="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_arterial.valid" class="help-block">Please Enter PPTP Arterial</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_venous.valid}">
                                                            <label class="control-label col-md-5">pptp venous
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_venous}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_venous" name="pptp_venous" class="form-control" placeholder="pptp venous"
                                                                    autocomplete="off" #pptp_venous="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_venous.valid" class="help-block">Please Enter PPTP Venous</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pptp_pancreas.valid}">
                                                            <label class="control-label col-md-5">pptp pancreas
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.full_pbpk.pptp_pancreas}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.full_pbpk.pptp_pancreas" name="pptp_pancreas" class="form-control" placeholder="pptp pancreas"
                                                                    autocomplete="off" #pptp_pancreas="ngModel" required />
                                                                <div *ngIf="df.submitted && !pptp_pancreas.valid" class="help-block">Please Enter PPTP Pancreas</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="select_distribution == 'vbe'">
                                                    <h3 class="form-section"> VBE</h3>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !v1.valid}">
                                                            <label class="control-label col-md-5">v1
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.vbe.v1}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.vbe.v1" name="v1" class="form-control" placeholder="v1" autocomplete="off"
                                                                    #v1="ngModel" required />
                                                                <div *ngIf="df.submitted && !v1.valid" class="help-block">Please Enter PPTP Pancreas</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !v2.valid}">
                                                            <label class="control-label col-md-5">v2
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.vbe.v2}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.vbe.v2" name="v2" class="form-control" placeholder="v2" autocomplete="off"
                                                                    #v2="ngModel" required />
                                                                <div *ngIf="df.submitted && !v2.valid" class="help-block">Please Enter PPTP Pancreas</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !v3.valid}">
                                                            <label class="control-label col-md-5">v3
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.distribution.vbe.v3}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.distribution.vbe.v3" name="v3" class="form-control" placeholder="v3" autocomplete="off"
                                                                    #v3="ngModel" required />
                                                                <div *ngIf="df.submitted && !v3.valid" class="help-block">Please Enter PPTP Pancreas</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-actions text-center" *ngIf="select_distribution != 'init'"> -->
                                                <!-- <button type="button" class="btn default">Cancel</button> -->
                                                <!-- <button type="submit" class="btn green">Submit</button> -->
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse_7"> Metabolism </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_7" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div *ngIf="select_distribution == 'full_pbpk'">
                                                    <h3 class="form-section"> FULL PBPK</h3>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pclint_h_m1.valid}">
                                                            <label class="control-label col-md-5">pclint h m1
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.full_pbpk.pclint_h_m1}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input [(ngModel)]="drug.metabolism.full_pbpk.pclint_h_m1" name="pclint_h_m1" type="number" class="form-control" placeholder="pclint h m1"
                                                                    autocomplete="off" #pclint_h_m1="ngModel" required />
                                                                <div *ngIf="df.submitted && !pclint_h_m1.valid" class="help-block">Please Enter Pclint H M1</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pclint_h_m2.valid}">
                                                            <label class="control-label col-md-5">pclint h m2
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.full_pbpk.pclint_h_m2}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.metabolism.full_pbpk.pclint_h_m2" name="pclint_h_m2" class="form-control" placeholder="pclint h m2"
                                                                    autocomplete="off" #pclint_h_m2="ngModel" required />
                                                                <div *ngIf="df.submitted && !pclint_h_m2.valid" class="help-block">Please Enter Pclint H M2</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !pclre.valid}">
                                                            <label class="control-label col-md-5">pclre
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.full_pbpk.pclre}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.metabolism.full_pbpk.pclre" name="pclre" class="form-control" placeholder="pclre"
                                                                    autocomplete="off" #pclre="ngModel" required />
                                                                <div *ngIf="df.submitted && !pclre.valid" class="help-block">Please Enter Pclre</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="select_distribution =='mini_pbpk'">
                                                    <h3 class="form-section"> MINI PBPK</h3>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !clre.valid}">
                                                            <label class="control-label col-md-5">clre
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.mini_pbpk.clre}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.metabolism.mini_pbpk.clre" name="clre" class="form-control" placeholder="clre" autocomplete="off"
                                                                    #clre="ngModel" required />
                                                                <div *ngIf="df.submitted && !clre.valid" class="help-block">Please Enter Clre</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !clint_h.valid}">
                                                            <label class="control-label col-md-5">clint h
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.mini_pbpk.clint_h}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.metabolism.mini_pbpk.clint_h" name="clint_h" class="form-control" placeholder="clint h"
                                                                    autocomplete="off" #clint_h="ngModel" required />
                                                                <div *ngIf="df.submitted && !clint_h.valid" class="help-block">Please Enter Clint H</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !uptake.valid}">
                                                            <label class="control-label col-md-5">uptake
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.mini_pbpk.uptake}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.metabolism.mini_pbpk.uptake" name="uptake" class="form-control" placeholder="uptake"
                                                                    autocomplete="off" #uptake="ngModel" required />
                                                                <div *ngIf="df.submitted && !uptake.valid" class="help-block">Please Enter Uptake</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="select_distribution =='vbe'">
                                                    <h3 class="form-section">VBE</h3>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !cl1.valid}">
                                                            <label class="control-label col-md-5"> cl1
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.vbe.cl1}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.metabolism.vbe.cl1" name="cl1" class="form-control" placeholder="cl1" autocomplete="off"
                                                                    #cl1="ngModel" required />
                                                                <div *ngIf="df.submitted && !cl1.valid" class="help-block">Please Enter VBE</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !cl2.valid}">
                                                            <label class="control-label col-md-5">cl2
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.vbe.cl2}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.metabolism.vbe.cl2" name="cl2" class="form-control" placeholder="cl2" autocomplete="off"
                                                                    #cl2="ngModel" required />
                                                                <div *ngIf="df.submitted && !cl2.valid" class="help-block">Please Enter C12</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !k12.valid}">
                                                            <label class="control-label col-md-5">k12
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.vbe.k12}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.metabolism.vbe.k12" name="k12" class="form-control" placeholder="k12" autocomplete="off"
                                                                    #k12="ngModel" required />
                                                                <div *ngIf="df.submitted && !k12.valid" class="help-block">Please Enter K12</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !k21.valid}">
                                                            <label class="control-label col-md-5">k21
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.vbe.k21}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.metabolism.vbe.k21" name="k21" class="form-control" placeholder="k21" autocomplete="off"
                                                                    #k21="ngModel" required />
                                                                <div *ngIf="df.submitted && !k21.valid" class="help-block">Please Enter K21</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !k13.valid}">
                                                            <label class="control-label col-md-5">k13
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.vbe.k13}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.metabolism.vbe.k13" name="k13" class="form-control" placeholder="k13" autocomplete="off"
                                                                    #k13="ngModel" required />
                                                                <div *ngIf="df.submitted && !k13.valid" class="help-block">Please Enter K13</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group" [ngClass]="{'has-error':df.submitted && !k31.valid}">
                                                            <label class="control-label col-md-5">k31
                                                                <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.drug.metabolism.vbe.k31}}"></span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="number" [(ngModel)]="drug.metabolism.vbe.k31" name="k31" class="form-control" placeholder="k31" autocomplete="off"
                                                                    #k31="ngModel" required />
                                                                <div *ngIf="df.submitted && !k31.valid" class="help-block">Please Enter K31</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions text-center margin">
                                        <button type="button" class="btn default">Cancel</button>
                                        <button type="submit" [disabled]="!df.form.valid || testValid || dlmParticleTestValid || dlmDiTestValid" class="btn green">Save</button>
                                    </div>
                                </div>
                            </form>
                            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>