<div class="login">
  <div class="logo">
      <a href="index.html"> <img src="../assets/pages/img/logo-big.jpg" alt="" class="logo-img" /> </a>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
      <!-- BEGIN LOGIN FORM -->
      <form class="login-form" (ngSubmit)="f.form.valid && varify()" #f="ngForm" novalidate>
          <h3 class="form-title font-green">Enter registration code</h3>
          <div class="alert alert-danger display-hide">
              <button class="close" data-close="alert"></button>  </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !registrationcode.valid }"> 
              <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
             <!-- <label class="control-label visible-ie8 visible-ie9">Otp is send to your mobile number xxxxxx0000</label> -->
              <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="registration code" [(ngModel)]="registration" #registrationcode="ngModel" name="registrationcode" required/> </div>
           <div class="form-actions">
              <button type="submit" class="btn green uppercase">Varify</button> <a href="forgot_password" id="forget-password" class="forget-password">Resend code</a> </div>
          <div class="create-account">
              <p> <a href="javascript:;" id="register-btn" class="uppercase">Create an account</a> </p>
          </div>
      </form>
      <!-- END LOGIN FORM -->
  </div>
  <div class="copyright"> 2014 © Metronic. Admin Dashboard Template. </div>
</div>