<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul *ngIf="userdetails.role == 'user'" class="page-sidebar-menu page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
        style="padding-top: 20px">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <li class="sidebar-toggler-wrapper hide">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler"> </div>
            <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->

            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>

    <li class="nav-item active">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-layers"></i>
                <span class="title">Simulation</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu ">
                <li class="nav-item  ">
                    <a [routerLink]="['/input', 'pk_study']" class="nav-link ">
                        <span class="title">PK Study</span>
                    </a>

                </li>
                <li class="nav-item">
                    <a [routerLink]="['/input', 'vbe_study']" class="nav-link ">
                        <span class="title">VBE Study</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/simulation" class="nav-link ">
                        <span class="title">View All</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item active">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-layers"></i>
                <span class="title">Population</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="/add_population" class="nav-link ">
                        <span class="title">Add New</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/population" class="nav-link ">
                        <span class="title">View All</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item active">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-layers"></i>
                <span class="title">Drug</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="/add_drug" class="nav-link ">
                        <span class="title">Add Drug</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/view_drug" class="nav-link ">
                        <span class="title">View All</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item active">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-layers"></i>
                <span class="title">Trial design</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="/add_trial" class="nav-link ">
                        <span class="title">Add Trial</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/view_trial" class="nav-link ">
                        <span class="title">View All</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a href="/profile" class="nav-link nav-toggle">
                <i class="icon-user"></i>
                <span class="title">Profile</span>
            </a>

        </li>

        <li class="nav-item">
            <a href="/simulation_stats">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>

            </a>
        </li>

    </ul>


    <ul *ngIf="userdetails.role =='admin'" class="page-sidebar-menu page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
        style="padding-top: 20px">
        <li class="nav-item">
                <a href="/admin">
                    <i class="icon-home"></i>
                    <span class="title">Users</span>
    
                </a>
            </li>

            <li class="nav-item">
                    <a href="/profile" class="nav-link nav-toggle">
                        <i class="icon-user"></i>
                        <span class="title">Profile</span>
                    </a>
        
                </li>
    
        </ul>
    <!-- END SIDEBAR MENU -->
    <!-- END SIDEBAR MENU -->
</div>