<app-header></app-header>
<div class="clearfix"></div>
<div class="page-container">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>
  <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      <app-breadcrumbs title="Population"></app-breadcrumbs>
      <div class="row">
        <div class="col-md-12">
          <!-- BEGIN EXAMPLE TABLE PORTLET-->
          <div class="portlet light bordered">
            <div class="portlet-title">
              <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase"> Population</span>
              </div>

            </div>
            <div class="portlet-body">
              <div class="table-toolbar">
                <div class="row">
                  <div class="col-md-6">
                    <div class="btn-group">
                      <a href="/add_population" id="sample_editable_1_new" class="btn sbold green"> Add Population
                        <i class="fa fa-plus"></i>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
              <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                  <tr>

                    <th> Country </th>

                    <th> Action </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd gradeX" *ngFor="let pop of allPopulation">

                    <td> {{pop.populationName}} </td>

                    <td>
                      <button (click)="viewPopulaton(pop.id)" type="button" class="btn btn-info">View</button>
                      <button (click)="deletePopulaton(pop.id)" type="button" class="btn btn-danger">Delete</button>

                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <!-- END EXAMPLE TABLE PORTLET-->
        </div>
      </div>

    </div>
  </div>
  <!--   <a href="javascript:;" class="page-quick-sidebar-toggler">
    <i class="icon-login"></i>
  </a> -->
</div>
<app-footer></app-footer>