<app-header></app-header>
<div class="clearfix"> </div>
<div class="page-container">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>

  <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      <app-breadcrumbs></app-breadcrumbs>

      <div class="row">
        <div class="col-md-12">
          <!-- BEGIN EXAMPLE TABLE PORTLET-->
          <div class="portlet light bordered">
            <div class="portlet-title">
              <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase"> simulation</span>
              </div>

            </div>
            <div class="portlet-body">
              <div class="table-toolbar">
                <div class="row">
                  <div class="col-md-6">
                    <div class="btn-group">

                      <a href="input/pk_study" id="sample_editable_1_new" class="btn sbold green"> Add PK Simulation
                        <i class="fa fa-plus"></i>
                      </a>
                    </div>
                    <div class="btn-group">
                      <a href="input/vbe_study" id="sample_editable_1_new" class="btn sbold green"> Add VBE Simulation
                        <i class="fa fa-plus"></i>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">

                  </div>
                </div>
              </div>
              <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                  <tr>

                    <th> Id </th>
                    <th> Inputs </th>
                    <th> Type </th>
                    <th> Added Date </th>
                   <th>Edit/Delete </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd gradeX" *ngFor="let sim of allSimulation">
                    <!-- <th> {{sim.population}}</th> -->
                    <th> {{sim.id}}</th>
                    <th> {{sim.input}}</th>
                    <th> {{sim.type}}</th>
                    <td> {{sim.created_on | date:'fullDate'}} </td>

                    <td>
                      <div class="text-center">

                        <button (click)="viewInput(sim.type, sim.inputid)" type="button" class="btn btn-info">View Input</button>
                        <button (click)="viewSimulation(sim.id)" type="button" class="btn btn-info">View Output</button>

                      </div>

                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <!-- END EXAMPLE TABLE PORTLET-->
        </div>
      </div>



    </div>
  </div>
  <!--  <a href="javascript:;" class="page-quick-sidebar-toggler">
                            <i class="icon-login"></i>
                        </a> -->
</div>

<app-footer></app-footer>