<div class="login">
    <div class="logo">
        <a href="index.html"> <img src="../assets/pages/img/logo-big.jpg" alt="" class="logo-img" /> </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="forget-form" (ngSubmit)="f.form.valid && varify()" #f="ngForm" novalidate>
            <h3 class="font-green">Forget Password ?</h3>
            <p> Enter your e-mail address below to reset your password. </p>
            <p *ngIf="error.length > 0" style="color: red"> {{error}}</p>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userEmail.valid }">
           <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" [(ngModel)]="email" #userEmail="ngModel" name="userEmail" required/> </div>
            <div class="form-actions">
                <a type="button" href="signup" id="back-btn" class="btn btn-default">Back</a>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
    <div class="copyright"> 2014 © Metronic. Admin Dashboard Template. </div>
</div>