<app-header></app-header>
<div class="clearfix"></div>
<div class="page-container"> 
   <!-- BEGIN SIDEBAR -->
   <div class="page-sidebar-wrapper">
      <app-sidebar></app-sidebar>
   </div>
   <div class="page-content-wrapper">
      <!-- BEGIN CONTENT BODY -->
      <div class="page-content">
         <app-breadcrumbs title="Add Population"></app-breadcrumbs>
         <div class="row">
            <div class="col-md-12">
               <div class="portlet light portlet-fit bordered">
                  <div class="portlet-title">
                     <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Add Population</span>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <form (ngSubmit)="ap.form.valid && submitForm()" #ap="ngForm" novalidate>
                        <div class="row">
                           <div class="form-group col-md-6" [ngClass]="{ 'has-error': ap.submitted && !populationname.valid }">
                              <label class="col-md-5 control-label">Name </label>
                              <div class="col-md-7">
                                 <input type="text" class="form-control" name="populationname" [(ngModel)]="populationName" placeholder="Population Name"  #populationname="ngModel" autocomplete="off" required />
								  <div *ngIf="ap.submitted && !populationname.valid" class="help-block">Please Enter Population Name</div>
                                 <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" -->
                                 <!-- class="alert alert-danger"> -->
                                 <!-- <div *ngIf="population_name.errors.required"> -->
                                 <!-- Name is required. -->
                                 <!-- <!-- </div>  --><!--==>{{populationName.invalid}} {{populationName.dirty}} -->
                                 <!-- <div class="form-control-feedback"  -->
                                 <!-- *ngIf="populationName.invalid && populationName.dirty">  -->
                                 <!-- Field is invalid -->
                                 <!-- </div> -->
                                 <!-- <div *ngIf="name.errors.minlength"> -->
                                 <!-- Name must be at least 4 characters long. -->
                                 <!-- </div> -->
                                 <!-- <div *ngIf="name.errors.forbiddenName"> -->
                                 <!-- Name cannot be Bob. -->
                                 <!-- </div> -->
                              </div>
                           </div>
                        </div>
                        <!-- </form> --> 
                        <!--First Step-->
                        <div class="panel-group accordion" id="accordion1">
                           <div class="panel panel-default">
                              <div class="panel-heading">
                                 <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#collapse_1"> Blood Flow </a>
                                 </h4>
                              </div>
                              <div id="collapse_1" class="panel-collapse in" >
                               <div class="panel-body">
									<div class="row">
									   <div class="form-group col-md-6" [ngClass]="{ 'has-error': ap.submitted && !qc.valid }">
										  <label class="col-md-5 control-label">QC <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qc}}" ></span></label>
										  <div class="col-md-7 tool">
											 <input  type="number" name="qc" [(ngModel)]="blood_flow.qc" class="form-control" placeholder="Enter QC" #qc="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qc.valid" class="help-block">Please Enter QC</div>  
										  </div>
									   </div>
									   <div class="form-group col-md-6" [ngClass]="{ 'has-error': ap.submitted && !qt_adipose.valid }">
										  <label class="col-md-5 control-label">QT ADIPOSE <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_adipose}}" ></span></label>
										  <div class="col-md-7">
											 <input  type="number" name="qt_adipose" class="form-control" [(ngModel)]="blood_flow.qt_adipose" placeholder="Enter QT ADIPOSE" #qt_adipose="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_adipose.valid" class="help-block">Please Enter QT ADIPOSE</div> 
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="form-group col-md-6" [ngClass]="{ 'has-error': ap.submitted && !qt_bone.valid }">
										  <label class="col-md-5 control-label">QT BONE <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_bone}}" ></span></label>
										  <div class="col-md-7">
											 <input name="qt_bone" [(ngModel)]="blood_flow.qt_bone" type="number" class="form-control" placeholder="Enter QT BONE" #qt_bone="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_bone.valid" class="help-block">Please Enter QT BONE</div> 
										  </div>
									   </div>
									   <div class="form-group col-md-6" [ngClass]="{ 'has-error': ap.submitted && !qt_brain.valid }">
										  <label class="col-md-5 control-label">QT BRAIN <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_brain}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qt_brain" name="qt_brain"  type="number" class="form-control" placeholder="Enter QT BRAIN" #qt_brain="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_brain.valid" class="help-block">Please Enter QT BRAIN</div> 
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group " [ngClass]="{ 'has-error': ap.submitted && !qt_gut.valid }">
										  <label class=" col-md-5 control-label ">QT GUT <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_gut}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qt_gut"  type="number" class="form-control" name="qt_gut" placeholder="QT GUT" #qt_gut="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_gut.valid" class="help-block">Please Enter QT GUT</div> 
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qt_heart.valid }">
										  <label class="col-md-5 control-label"> QT HEART<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_heart}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qt_heart" name="qt_heart" type="number" class="form-control" placeholder="QT HEART" #qt_heart="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_heart.valid" class="help-block">Please Enter QT HEART</div> 
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qt_kidney.valid }">
										  <label class="control-label col-md-5 "> QT KIDNEY<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_kidney}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qt_kidney" name="qt_kidney" type="number" class="form-control" placeholder="QT KIDNEY" #qt_kidney="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_kidney.valid" class="help-block">Please Enter QT KIDNEY</div> 
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qt_liver.valid }">
										  <label class="control-label col-md-5">QT LIVER <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_liver}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qt_liver" name="qt_liver" type="number" class="form-control" placeholder="QT LIVER" #qt_liver="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_liver.valid" class="help-block">Please Enter QT LIVER</div> 
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qt_lung.valid }">
										  <label class="control-label col-md-5"> QT LUNG<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_lung}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qt_lung" name="qt_lung" type="number" class="form-control" placeholder="QT LUNG" #qt_lung="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_lung.valid" class="help-block">Please Enter QT LUNG</div> 
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qt_muscle.valid }">
										  <label class="control-label col-md-5">QT MUSCLE <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_muscle}}" ></span></label>
										  <div class="col-md-7">
											 <input  [(ngModel)]="blood_flow.qt_muscle" name="qt_muscle" type="number" class="form-control" placeholder="QT MUSCLE" #qt_muscle="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_muscle.valid" class="help-block">Please Enter QT MUSCLE</div> 
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qt_skin.valid }">
										  <label class="control-label col-md-5"> QT SKIN<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_skin}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qt_skin" name="qt_skin" type="number" class="form-control" placeholder="QT SKIN" #qt_skin="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_skin.valid" class="help-block">Please Enter QT SKIN</div> 
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qt_spleen.valid }">
										  <label class="control-label col-md-5"> QT SPLEEN<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_spleen}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qt_spleen" name="qt_spleen"  type="number" class="form-control" placeholder="QT SPLEEN" #qt_spleen="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_spleen.valid" class="help-block">Please Enter QT SPLEEN</div> 
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qt_arterial.valid }">
										  <label class="control-label col-md-5"> QT ARTERIAL<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_arterial}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qt_arterial" name="qt_arterial"  type="number" class="form-control" placeholder="QT ARTERIAL" #qt_arterial="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_arterial.valid" class="help-block">Please Enter QT ARTERIAL</div> 
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qt_venous.valid }">
										  <label class="control-label col-md-5">QT VENOUS <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_venous}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qt_venous"  name="qt_venous" type="number" class="form-control" placeholder="QT VENOUS" #qt_venous="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_venous.valid" class="help-block">Please Enter QT VENOUS</div> 
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qt_pancreas.valid }">
										  <label class="control-label col-md-5"> QT PANCREASE<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qt_pancreas}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qt_pancreas"  name="qt_pancreas" type="number" class="form-control" placeholder="QT PANCREASE" #qt_pancreas="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qt_pancreas.valid" class="help-block">Please Enter QT PANCREASE</div> 
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qha.valid }">
										  <label class="control-label col-md-5"> QHA<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qha}}" ></span> </label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qha" name="qha" type="number" class="form-control" placeholder="QHA" #qha="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qha.valid" class="help-block">Please Enter QHA</div> 
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !qpv.valid }">
										  <label class="control-label col-md-5"> QPV<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.qpv}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="blood_flow.qpv" name="qpv" type="number" class="form-control" placeholder="QPV" #qpv="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !qpv.valid" class="help-block">Please Enter QPV</div> 
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !gfr.valid }">
										  <label class="control-label col-md-5">GFR <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.blood_flow.gfr}}" ></span></label>
										  <div class="col-md-7">
											 <input  [(ngModel)]="blood_flow.gfr" name="gfr"  type="number" class="form-control" placeholder="GFR" #gfr="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !gfr.valid" class="help-block">Please Enter GFR</div> 
										  </div>
									   </div>
									</div>
								 </div>
                              </div>
                           </div>
                           <div class="panel panel-default">
                              <div class="panel-heading">
                                 <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#collapse_3" aria-expanded="false">
                                    Tissue Volume </a>
                                 </h4>
                              </div>
                              <div id="collapse_3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                               <div class="panel-body">
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !bw.valid }">
										  <label class="control-label col-md-5">BW <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.bw}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.bw"  name="bw" type="number" class="form-control" placeholder="BW"  #bw="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !bw.valid" class="help-block">Please Enter BW</div>
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_adipose.valid }">
										  <label class="control-label col-md-5">VT ADIPOSE <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_adipose}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_adipose" name="vt_adipose"   type="number" class="form-control" placeholder="VT ADIPOSE"  #vt_adipose="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_adipose.valid" class="help-block">Please Enter VT ADIPOSE</div>
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_bone.valid }">
										  <label class="control-label col-md-5">VT BONE <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_bone}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_bone" name="vt_bone"  type="number" class="form-control" placeholder="VT BONE" #vt_bone="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_bone.valid" class="help-block">Please Enter VT BONE</div>
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_brain.valid }">
										  <label class="control-label col-md-5">VT BRAIN <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_brain}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_brain" name="vt_brain"  type="number" class="form-control" placeholder="VT BRAIN" #vt_brain="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_brain.valid" class="help-block">Please Enter VT BRAIN</div>
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_gut.valid }">
										  <label class="control-label col-md-5">VT GUT <span class="fa fa-info-circle simtooltip" data-toggle="tooltip"  title="{{tooltippopulation.tissue_volumn.vt_gut}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_gut" name="vt_gut"    type="number" class="form-control" placeholder="VT GUT"  #vt_gut="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_gut.valid" class="help-block">Please Enter VT GUT</div>
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_heart.valid }">
										  <label class="control-label col-md-5"> VT HEART<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_heart}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_heart" name="vt_heart"  type="number" class="form-control" placeholder="VT HEART"  #vt_heart="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_heart.valid" class="help-block">Please Enter VT HEART</div>
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_kidney.valid }">
										  <label class="control-label col-md-5">VT KIDNEY<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_kidney}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_kidney" name="vt_kidney"  type="number" class="form-control" placeholder="VT KIDNEY" #vt_kidney="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_kidney.valid" class="help-block">Please Enter VT KIDNEY</div>
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_liver.valid }">
										  <label class="control-label col-md-5"> VT LIVER<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_liver}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_liver" name="vt_liver"  type="number" class="form-control" placeholder="VT LIVER"  #vt_liver="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_liver.valid" class="help-block">Please Enter VT LIVER</div>
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_lung.valid }">
										  <label class="control-label col-md-5">VT LUNG <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_lung}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_lung" name="vt_lung" type="number" class="form-control" placeholder="VT LUNG"  #vt_lung="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_lung.valid" class="help-block">Please Enter VT LUNG</div>
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_muscle.valid }">
										  <label class="control-label col-md-5">VT MUSCLE <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_muscle}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_muscle" name="vt_muscle"  type="number" class="form-control" placeholder="VT MUSCLE" #vt_muscle="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_muscle.valid" class="help-block">Please Enter VT MUSCLE</div>
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_skin.valid }">
										  <label class="control-label col-md-5">VT SKIN <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_skin}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_skin" name="vt_skin" type="number" class="form-control" placeholder="VT SKIN"  #vt_skin="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_skin.valid" class="help-block">Please Enter VT SKIN</div>
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_spleen.valid }">
										  <label class="control-label col-md-5">VT SPLEEN <span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_spleen}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_spleen" name="vt_spleen" type="number" class="form-control" placeholder="VT SPLEEN"  #vt_spleen="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_spleen.valid" class="help-block">Please Enter VT SPLEEN</div>
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_arterial.valid }">
										  <label class="control-label col-md-5">VT ARTERIAL<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_arterial}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_arterial" name="vt_arterial"  type="number" class="form-control" placeholder="VT ARTERIAL"  #vt_arterial="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_arterial.valid" class="help-block">Please Enter VT ARTERIAL</div>
										  </div>
									   </div>
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_venous.valid }">
										  <label class="control-label col-md-5">VT VENOUS<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_venous}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_venous" name="vt_venous" type="number" class="form-control" placeholder="VT VENOUS"  #vt_venous="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_venous.valid" class="help-block">Please Enter VT VENOUS</div>
										  </div>
									   </div>
									</div>
									<div class="row">
									   <div class="col-md-6 form-group" [ngClass]="{ 'has-error': ap.submitted && !vt_pancreas.valid }">
										  <label class="control-label col-md-5">VT PANCREASE<span class="fa fa-info-circle simtooltip" data-toggle="tooltip" title="{{tooltippopulation.tissue_volumn.vt_pancreas}}" ></span></label>
										  <div class="col-md-7">
											 <input [(ngModel)]="tissue_volumn.vt_pancreas" name="vt_pancreas"  type="number" class="form-control" placeholder="VT PANCREASE" #vt_pancreas="ngModel" autocomplete="off" required />
											<div *ngIf="ap.submitted && !vt_pancreas.valid" class="help-block">Please Enter VT PANCREASE</div>
										  </div>
									   </div>
									</div>
								 </div>
                              </div>
                           </div>
                           <br>
                           <br>
                           <div class="form-actions text-center" >
                              <!-- {{showSelectedtest}} -->
                              <button type="button" class="btn default">Cancel</button>
                              <!-- <button type="submit" class="btn green"  [disabled]="!validatepopulation"    [style.background-color] = "populationdata ? '#1f858e' : 'grey'"  >Submit</button>     -->
                              <button *ngIf="!id" type="submit" class="btn green" >Save</button>
                              <button  *ngIf="id" type="submit" class="btn green" >update</button>
                           </div>
						   
                           <!-- </form>						 -->
                        </div>
                     </form>
					 <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>