<app-header>
</app-header>
<div class="clearfix"> </div>
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>

    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <app-breadcrumbs title="Profile"></app-breadcrumbs>
            <h3 class="page-title"> Profile </h3>
            <div class="row">
                <div class="col-md-12">

                    <!-- BEGIN PROFILE CONTENT -->
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption caption-md">
                                            <i class="icon-globe theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                                            </li>

                                            <li>
                                                <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                                            </li>
                                            <li *ngIf="userdetails.role =='user'">
                                                <a href="#tab_1_4" data-toggle="tab">Billing Address</a>
                                            </li>
                                            <li *ngIf="userdetails.role =='user'">
                                                <a href="#tab_1_5" data-toggle="tab">Credit Card</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tab-content">
                                            <!-- PERSONAL INFO TAB -->
                                            <div class="tab-pane active" id="tab_1_1">
                                                <form (ngSubmit)="personaldetails.form.valid &&  submitForm('profile',personaldetails)" #personaldetails="ngForm" novalidate>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personaldetails.submitted && !firstname.valid }">
                                                        <label class="control-label">First Name</label>
                                                        <input type="text" placeholder="First Name" class="form-control" name="firstname" [(ngModel)]="profiledata.firstname" #firstname="ngModel"
                                                            autocomplete="off" pattern="[a-zA-Z][a-zA-Z]+" required />
                                                        <div *ngIf="personaldetails.submitted && !firstname.valid" class="help-block">Please Enter Valid First Name</div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personaldetails.submitted && !lastname.valid }">
                                                        <label class="control-label">Last Name</label>
                                                        <input type="text" placeholder="Last Name" class="form-control" name="lastname" [(ngModel)]="profiledata.lastname" pattern="[a-zA-Z][a-zA-Z]+"
                                                            #lastname="ngModel" autocomplete="off" required />
                                                        <div *ngIf="personaldetails.submitted && !lastname.valid" class="help-block">Please Enter Valid Last Name</div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personaldetails.submitted && !mobilenumber.valid }">
                                                        <label class="control-label">Mobile Number</label>
                                                        <input type="text" placeholder="+1 646 580 6284" class="form-control" name="mobilenumber" [(ngModel)]="profiledata.mobile"
                                                            #mobilenumber="ngModel" pattern="[0-9]*" autocomplete="off" required
                                                        />
                                                        <div *ngIf="personaldetails.submitted && !mobilenumber.valid" class="help-block">Please Enter Valid Mobile No.</div>
                                                    </div>
                                                    <!-- <div class="form-group" [ngClass]="{ 'has-error': personaldetails.submitted && !email.valid }"> -->
                                                    <!-- <label class="control-label">Email</label> -->
                                                    <!-- <input type="text" disabled placeholder="Email Id" name="email" class="form-control" [(ngModel)]="profiledata.email" #email="ngModel" autocomplete="off"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required /> -->
                                                    <!-- <div *ngIf="personaldetails.submitted && !email.valid" class="help-block">Please Enter Email Id</div> </div> -->
                                                    <div class="form-group">
                                                        <label class="control-label">Email</label>
                                                        <input type="text" disabled placeholder="Email Id" name="email" class="form-control" [(ngModel)]="profiledata.email" #email="ngModel"
                                                            autocomplete="off" required />
                                                        <!-- <div  class="help-block">Please Enter Email Id</div> -->
                                                    </div>


                                                    <div class="form-group" [ngClass]="{ 'has-error': personaldetails.submitted && !occupation.valid }">
                                                        <label class="control-label">Occupation</label>
                                                        <input type="text" placeholder="Web Developer" class="form-control" name="occupation" [(ngModel)]="profiledata.occupation"
                                                            #occupation="ngModel" autocomplete="off" required />
                                                        <div *ngIf="personaldetails.submitted && !occupation.valid" class="help-block">Please Enter Occupation</div>

                                                    </div>

                                                    <div class="form-group" [ngClass]="{ 'has-error': personaldetails.submitted && !about.valid }">
                                                        <label class="control-label">About</label>
                                                        <textarea class="form-control" rows="3" placeholder="We are KeenThemes!!!" name="about" [(ngModel)]="profiledata.about" #about="ngModel"
                                                            autocomplete="off" required></textarea>
                                                        <div *ngIf="personaldetails.submitted && !about.valid" class="help-block">Please Enter About You</div>
                                                    </div>

                                                    <div class="margiv-top-10">

                                                        <input type="Submit" href="javascript:;" class="btn green" value="Save Changes" />
                                                        <a href="javascript:;" class="btn default"> Cancel </a>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- END PERSONAL INFO TAB -->

                                            <!-- CHANGE PASSWORD TAB -->
                                            <div class="tab-pane" id="tab_1_3">
                                                <form (ngSubmit)="personalcre.form.valid && submitForm('password', personalcre)" #personalcre="ngForm" novalidate>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personalcre.submitted && !currentpassword.valid }">
                                                        <label class="control-label">Current Password</label>
                                                        <input name="currentpassword" [(ngModel)]="passworddata.currentpassword" type="password" class="form-control" #currentpassword="ngModel"
                                                            autocomplete="off" required />
                                                        <div *ngIf="personalcre.submitted && !currentpassword.valid" class="help-block">Please Enter Current Password</div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personalcre.submitted && !newpassword.valid }">
                                                        <label class="control-label">New Password</label>
                                                        <input name="newpassword" [(ngModel)]="passworddata.newpassword" type="password" class="form-control" #newpassword="ngModel"
                                                            autocomplete="off" required />
                                                        <div *ngIf="personalcre.submitted && !newpassword.valid" class="help-block">Please Enter New Password</div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personalcre.submitted && !repeatpassword.valid }">
                                                        <label class="control-label">Re-type New Password</label>
                                                        <input name="repeatpassword" [(ngModel)]="passworddata.repeatpassword" type="password" class="form-control" #repeatpassword="ngModel"
                                                            autocomplete="off" required />
                                                        <p class="help-block errormsg" *ngIf="passworddata.repeatpassword!=passworddata.newpassword ">Both Password Not Match</p>
                                                        <div *ngIf="personalcre.submitted && !repeatpassword.valid" class="help-block">Please Re-type New Password</div>
                                                    </div>
                                                    <div class="margin-top-10">
                                                        <input type="submit" value="Change Password" [disabled]="(passworddata.repeatpassword!=passworddata.newpassword)" class="btn green"
                                                        />
                                                        <a> Cancel </a>

                                                    </div>
                                                </form>

                                            </div>
                                            <!-- END CHANGE PASSWORD TAB -->
                                            <div class="tab-pane" id="tab_1_4">
                                                <form (ngSubmit)="personaladdress.form.valid &&  submitForm('billing',personaladdress)" #personaladdress="ngForm" novalidate>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personaladdress.submitted && !flatno.valid }">
                                                        <label class="control-label">Falt / House No. / Floor / Building</label>
                                                        <input name="flatno" [(ngModel)]="billingdata.houseno" type="text" class="form-control" #flatno="ngModel" autocomplete="off"
                                                            required />
                                                        <div *ngIf="personaladdress.submitted && !flatno.valid" class="help-block">Please Enter Falt / House No. / Floor / Building</div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personaladdress.submitted && !locality.valid }">
                                                        <label class="control-label">Colony / Street / Locality </label>
                                                        <input name="locality" [(ngModel)]="billingdata.street" type="text" class="form-control" #locality="ngModel" autocomplete="off"
                                                            required />
                                                        <div *ngIf="personaladdress.submitted && !locality.valid" class="help-block">Please Enter Colony / Street / Locality</div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personaladdress.submitted && !landmark.valid }">
                                                        <label class="control-label">Landmark </label>
                                                        <input name="landmark" [(ngModel)]="billingdata.landmark" type="text" class="form-control" #landmark="ngModel" autocomplete="off"
                                                            required />
                                                        <div *ngIf="personaladdress.submitted && !landmark.valid" class="help-block">Please Enter Landmark</div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personaladdress.submitted && !city.valid }">
                                                        <label class="control-label">City </label>
                                                        <input name="city" [(ngModel)]="billingdata.city" type="text" class="form-control" #city="ngModel" autocomplete="off" required
                                                        />
                                                        <div *ngIf="personaladdress.submitted && !city.valid" class="help-block">Please Enter City</div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personaladdress.submitted && !state.valid }">
                                                        <label class="control-label">State </label>
                                                        <input name="state" [(ngModel)]="billingdata.state" type="text" class="form-control" #state="ngModel" autocomplete="off"
                                                            required />
                                                        <div *ngIf="personaladdress.submitted && !state.valid" class="help-block">Please Enter State</div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personaladdress.submitted && !country.valid }">
                                                        <label class="control-label">Country </label>
                                                        <input name="country" [(ngModel)]="billingdata.country" type="text" class="form-control" #country="ngModel" autocomplete="off"
                                                            required />
                                                        <div *ngIf="personaladdress.submitted && !country.valid" class="help-block">Please Enter Country</div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': personaladdress.submitted && !zipcode.valid }">
                                                        <label class="control-label">Zip Code </label>
                                                        <input name="zipcode" [(ngModel)]="billingdata.zipcode" type="text" class="form-control" #zipcode="ngModel" autocomplete="off"
                                                            required />
                                                        <div *ngIf="personaladdress.submitted && !zipcode.valid" class="help-block">Please Enter Zip Code</div>
                                                    </div>


                                                    <div class="margin-top-10">
                                                        <input type="submit" value="Save" class="btn green" />
                                                        <a href="javascript:;" class="btn default"> Cancel </a>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="tab-pane" id="tab_1_5">
                                                <h2>Coming Soon</h2>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>



        </div>
    </div>

</div>
<app-footer></app-footer>