<div class="login">
    <div class="logo">
        <a href="index.html">
            <img src="../assets/pages/img/logo-big.jpg" alt="" class="logo-img" /> </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <!-- <form class="register-form" action="index.html"  method="post"> -->
        <form class="register-form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
            <h3 class="font-green">Sign Up</h3>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
                <label class="control-label visible-ie8 visible-ie9">First Name</label>
                <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="signupdata.firstname" placeholder="First Name" name="firstname"
                #firstname="ngModel" required />
                 <div *ngIf="f.submitted && !firstname.valid" class="help-block">Please enter firstname name</div> </div>


            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
                <label class="control-label visible-ie8 visible-ie9">Last Name</label>
                <input class="form-control placeholder-no-fix" type="text" #lastname="ngModel" required [(ngModel)]="signupdata.lastname" placeholder="Last Name" name="lastname"
                /> 
                 <div *ngIf="f.submitted && !lastname.valid" class="help-block">Please enter lastname name</div> </div>



            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control placeholder-no-fix" type="email" [(ngModel)]="signupdata.email" placeholder="Email" name="email" #email="ngModel" required
                /> <div *ngIf="f.submitted && !email.valid" class="help-block">Please enter email</div></div>


            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !companyname.valid }">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Company Name</label>
                <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="signupdata.companyname" placeholder="Company Name"
                    name="company" #companyname="ngModel" required/> 
                    <div *ngIf="f.submitted && !companyname.valid" class="help-block">Please enter company  name</div></div>



            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="signupdata.username" autocomplete="off" placeholder="Username"
                    name="username" #username="ngModel" required/>
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Please enter username</div> </div>


            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control placeholder-no-fix" type="password" [(ngModel)]="signupdata.password" autocomplete="off" id="register_password"
                    placeholder="Password" name="password" #password="ngModel" required/>
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Please enter username</div> </div>


            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" [(ngModel)]="reEnterPassword" placeholder="Re-type Your Password"
                    name="rpassword" required/>
                <div *ngIf="reEnterPassword.length > 0 && signupdata.password !== reEnterPassword" class="help-block" style="color:red">Password not match</div>
            </div>


            <div class="form-group margin-top-20 margin-bottom-20">
                <label class="check">
                    <input type="checkbox" name="tnc" /> I agree to the
                    <a href="javascript:;"> Terms of Service </a> &
                    <a href="javascript:;"> Privacy Policy </a>
                </label>
                <div id="register_tnc_error"> </div>
            </div>
            <div class="form-actions">
                <a href="/login">Already have an account</a>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>

    
    <div class="copyright"> 2014 © Metronic. Admin Dashboard Template. </div>
</div>