<div class="login">
    <div class="logo">
        <a href="index.html">
            <img src="../assets/pages/img/logo-big.jpg" alt="" class="logo-img" /> </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content login-main">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <h3 class="form-title font-green">Sign In</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !company.valid }">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Company Name</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="company name"
                    name="company" [(ngModel)]="model.company" #company="ngModel" required />
                <div *ngIf="f.submitted && !company.valid" class="help-block">Please enter company name</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username"
                    [(ngModel)]="model.username" #username="ngModel" required />
                <div *ngIf="f.submitted && !username.valid" class="help-block">Please enter username</div>
            </div>


            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password"
                    name="password" [(ngModel)]="model.password" #password="ngModel" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn green uppercase">Login</button>
                <a href="forgot_password" id="forget-password" class="forget-password">Forgot Password?</a>
            </div>
            <div class="create-account">
                <p>
                    <a href="/signup" id="register-btn" class="uppercase">Create an account</a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
    <div class="copyright"> 2014 © Metronic. Admin Dashboard Template. </div>
</div>